Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

use load_content in load
  data/core/doc/init.lua
Labels: Category: Lua Core

Add selection length on statusbar
  data/core/doc/init.lua
  data/core/statusview.lua
Labels: Category: Lua Core

chore: bump `SDL3` version to 3.2.20
  scripts/build.sh
Labels: none

feat: initial `Canvas` implementation
  docs/api/canvas.lua
  docs/api/renderer.lua
  src/api/api.c
  src/api/api.h
  src/api/canvas.c
  src/api/renderer.c
  src/api/utils/color.c
  src/api/utils/color.h
  src/meson.build
  src/rencache.c
  src/rencache.h
  src/renderer.c
  src/renderer.h
Labels: Category: Documentation, Category: C Core

refactor: rename `api/utils.color.{c,h}` to `colors`
  src/api/canvas.c
  src/api/renderer.c
  src/api/utils/colors.c
  src/api/utils/colors.h
  src/meson.build
Labels: Category: C Core

feat(api/canvas): add support for `draw_{rect,text}` and `set_clip_rect` to `Canvas`
  src/api/canvas.c
  src/api/renderer.c
  src/api/utils/fonts.c
  src/api/utils/fonts.h
  src/meson.build
Labels: Category: C Core

fix(api/canvas): use integers for `draw_text` `y` argument
  src/api/canvas.c
Labels: Category: C Core

feat(api/canvas): avoid assert in `CanvasRef` gc function
  src/api/canvas.c
Labels: Category: C Core

fix(api/canvas): use endianness-independent pixel format in `set_pixels`
  src/api/canvas.c
Labels: Category: C Core

feat(api/canvas): add support for `draw_canvas`
  src/api/canvas.c
Labels: Category: C Core

fix(api/canvas): don't blend the surface in `set_pixels`
  src/api/canvas.c
Labels: Category: C Core

feat(api/canvas): add support for `get_pixels`
  docs/README.md
  docs/api/canvas.lua
  src/api/canvas.c
Labels: Category: Documentation, Category: C Core

docs(api/canvas): add `draw_{rect,text,canvas}` and `set_clip_rect`
  docs/api/canvas.lua
Labels: Category: Documentation

feat(api/renderer): add `to_canvas`
  docs/api/renderer.lua
  src/api/renderer.c
Labels: Category: Documentation, Category: C Core

feat: add `api/utils/lxlauxlib.{c,h}`
  src/api/canvas.c
  src/api/utils/lxlauxlib.c
  src/api/utils/lxlauxlib.h
  src/meson.build
Labels: Category: C Core

docs: add `tab_data` parameters to text-related APIs
  docs/api/renderer.lua
Labels: Category: Documentation

refactor(api/renderer): simplify `draw_canvas` GC reference
  src/api/renderer.c
Labels: Category: C Core

Respond to feedback on PR
  data/core/commands/core.lua
Labels: Category: Lua Core

commandview last action history
  data/core/commandview.lua
Labels: Category: Lua Core

find-command alphabet sort
  data/core/commands/core.lua
Labels: Category: Lua Core

Rearrange Plugin Loading and SDL Initialization (#1881)
  data/core/init.lua
  data/plugins/autorestart.lua
  src/api/renwindow.c
  src/main.c
  src/renderer.c
  src/renderer.h
Labels: Category: Lua Core, Category: Plugins, Category: C Core

Added in check for the blink timer so that we don't needlessly redraw. (#2053)
  data/core/docview.lua
Labels: Category: Lua Core

Changed to use deprecation log instead of regular warn so as to not spam logs. (#1929)
  data/core/storage.lua
  data/plugins/workspace.lua
Labels: Category: Lua Core, Category: Plugins

Documentation for core.dirwatch (#1565)
  data/core/dirwatch.lua
Labels: Category: Lua Core

core/rootview: show user options when folders are dropped
  data/core/rootview.lua
Labels: Category: Lua Core

core/nagview: fix queue items not being displayed
  data/core/nagview.lua
Labels: Category: Lua Core

Changed to add_project.
  data/core/rootview.lua
Labels: Category: Lua Core

Improve folder drag-and-drop experience (#1830)
  data/core/nagview.lua
  data/core/rootview.lua
Labels: Category: Lua Core

Resolved some type-complaints that are detected by LuaLS (#2120)
  data/core/command.lua
  data/core/commands/core.lua
  data/core/common.lua
  docs/api/system.lua
Labels: Category: Documentation, Category: Lua Core

refactor(api): move `api/utils/{colors,fonts}` to `api/utils/lxlauxlib`
  src/api/canvas.c
  src/api/renderer.c
  src/api/utils/colors.c
  src/api/utils/colors.h
  src/api/utils/fonts.c
  src/api/utils/fonts.h
  src/api/utils/lxlauxlib.c
  src/api/utils/lxlauxlib.h
  src/meson.build
Labels: Category: C Core

move more window logic to renwindow api, move forward to multi windows
  data/core/commands/core.lua
  data/core/docview.lua
  data/core/ime.lua
  data/core/init.lua
  data/core/nagview.lua
  data/core/titleview.lua
  docs/api/renwindow.lua
  docs/api/system.lua
  src/api/renwindow.c
  src/api/system.c
Labels: Category: Documentation, Category: Lua Core, Category: C Core

Simplified context menu; at this point, we don't really need to split it between plugin and main, and we should use the command system if possible.
  data/core/command.lua
  data/core/commands/contextmenu.lua
  data/core/contextmenu.lua
  data/core/docview.lua
  data/core/keymap.lua
  data/core/rootview.lua
  data/core/view.lua
  data/plugins/contextmenu.lua
  data/plugins/scale.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

move more window logic to renwindow api, move forward to multi windows
  data/core/command.lua
  data/core/commands/command.lua
  data/core/commands/contextmenu.lua
  data/core/commands/core.lua
  data/core/commands/dialog.lua
  data/core/commands/doc.lua
  data/core/commands/files.lua
  data/core/commands/findreplace.lua
  data/core/commands/log.lua
  data/core/commands/root.lua
  data/core/commands/statusbar.lua
  data/core/commandview.lua
  data/core/contextmenu.lua
  data/core/docview.lua
  data/core/init.lua
  data/core/keymap.lua
  data/core/logview.lua
  data/core/nagview.lua
  data/core/node.lua
  data/core/rootview.lua
  data/core/statusview.lua
  data/core/titleview.lua
  data/core/window.lua
  data/plugins/autocomplete.lua
  data/plugins/autoreload.lua
  data/plugins/detectindent.lua
  data/plugins/findfile.lua
  data/plugins/projectsearch.lua
  data/plugins/treeview.lua
  data/plugins/workspace.lua
  src/api/renwindow.c
  src/api/system.c
  src/renderer.c
  src/renwindow.h
Labels: Category: Lua Core, Category: Plugins, Category: C Core

Fixed up multi-window.
  data/core/command.lua
  data/core/commands/contextmenu.lua
  data/core/commands/core.lua
  data/core/commands/dialog.lua
  data/core/commands/doc.lua
  data/core/commands/files.lua
  data/core/commands/findreplace.lua
  data/core/commands/root.lua
  data/core/commands/statusbar.lua
  data/core/commandview.lua
  data/core/contextmenu.lua
  data/core/docview.lua
  data/core/ime.lua
  data/core/init.lua
  data/core/keymap.lua
  data/core/logview.lua
  data/core/nagview.lua
  data/core/node.lua
  data/core/rootview.lua
  data/core/statusview.lua
  data/core/titleview.lua
  data/core/window.lua
  data/plugins/autocomplete.lua
  data/plugins/autoreload.lua
  data/plugins/detectindent.lua
  data/plugins/findfile.lua
  data/plugins/linewrapping.lua
  data/plugins/macro.lua
  data/plugins/projectsearch.lua
  data/plugins/scale.lua
  data/plugins/tabularize.lua
  data/plugins/toolbarview.lua
  data/plugins/treeview.lua
  data/plugins/workspace.lua
Labels: Category: Lua Core, Category: Plugins

Buncha small fixes.
  data/core/command.lua
  data/core/commands/core.lua
  data/core/commands/doc.lua
  data/core/commands/root.lua
  data/core/docview.lua
  data/core/init.lua
  data/plugins/workspace.lua
Labels: Category: Lua Core, Category: Plugins

Simplified context menu; at this point, we don't really need to split it between plugin and main, and we should use the command system if possible.
  data/core/command.lua
  data/core/commands/contextmenu.lua
  data/core/contextmenu.lua
  data/core/docview.lua
  data/core/keymap.lua
  data/core/rootview.lua
  data/core/view.lua
  data/plugins/contextmenu.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

Unified predicates.
  data/plugins/treeview.lua
Labels: Category: Plugins

Implemented Guldo's suggestions.
  data/core/contextmenu.lua
  data/core/view.lua
Labels: Category: Lua Core

Ensured that context menu command works even without x and y.
  data/core/commands/contextmenu.lua
Labels: Category: Lua Core

Fixed up some minor issues.
  data/core/contextmenu.lua
  data/core/rootview.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*
