Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

system: update window scale on scale changes
  src/api/system.c
Labels: Category: C Core

system: implement get_file_info with SDL_GetPathInfo
  src/api/system.c
Labels: Category: C Core

system: implement mkdir with SDL_CreateDirectory
  src/api/system.c
Labels: Category: C Core

system: optimize api_require by using binary search
  src/api/system.c
Labels: Category: C Core

main: reorganize hint and SDL initialization code
  src/main.c
Labels: Category: C Core

implement EXEDIR through SDL SDL supports a larger number of targets and edge cases than we could on our own EXEFILE cannot be removed because some plugins depend on it
  data/core/start.lua
  src/main.c
Labels: Category: Lua Core, Category: C Core

replace utf8_to_codepoint with SDL_StepUTF8
  src/renderer.c
Labels: Category: C Core

replace memory functions with SDL equivalent
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
  src/api/dirmonitor/inodewatcher.cpp
  src/api/dirmonitor/inotify.c
  src/api/dirmonitor/kqueue.c
  src/api/dirmonitor/win32.c
  src/api/process.c
  src/api/regex.c
  src/api/system.c
  src/main.c
  src/rencache.c
  src/renderer.c
  src/utfconv.h
Labels: Category: C Core

add SDL App Metadata
  meson.build
  src/main.c
Labels: Category: Meta, Category: Build System, Category: C Core

SDL3 main callbacks
  data/core/init.lua
  src/api/system.c
  src/main.c
  src/state.h
Labels: Category: Lua Core, Category: C Core

prefix define with LITE
  meson.build
  src/main.c
Labels: Category: Meta, Category: Build System, Category: C Core

guh
  src/main.c
Labels: Category: C Core

implement file dialog through SDL3
  data/core/commands/core.lua
  src/api/system.c
Labels: Category: Lua Core, Category: C Core

feat: add SDL App Metadata (#2068)
  meson.build
  src/main.c
Labels: Category: Meta, Category: Build System, Category: C Core

add config for system dialog, add sandbox detection, restore file code
  data/core/commands/core.lua
  data/core/config.lua
  data/core/init.lua
  src/api/system.c
Labels: Category: Lua Core, Category: C Core

feat: make custom SDL events registration cleaner
  src/api/dirmonitor.c
  src/custom_events.c
  src/custom_events.h
  src/main.c
  src/meson.build
Labels: Category: C Core

feat: add `system.open_file_dialog`
  docs/api/system.lua
  src/api/system.c
  src/custom_events.h
Labels: Category: Documentation, Category: C Core

feat: implement `core.open_file_dialog`
  data/core/init.lua
Labels: Category: Lua Core

feat: add `allow_many` to `{system,core}.open_file_dialog`
  data/core/init.lua
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: Lua Core, Category: C Core

feat: add `system.get_sandbox`
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: C Core

feat: when in a sandbox use file picker in `core:open-file` command
  data/core/commands/core.lua
  data/core/config.lua
Labels: Category: Lua Core

refactor: avoid spamming `get_custom_event` in `dirmonitor_check_thread`
  src/api/dirmonitor.c
Labels: Category: C Core

feat: set `ptr` in `lxl_arena_copy` to `const`
  src/arena_allocator.c
  src/arena_allocator.h
Labels: Category: C Core

feat: move `system.open_file_dialog` options to table, add support to filters, title, accept and cancel labels
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: C Core

feat: add `system.{save_file,open_directory}_dialog`
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: C Core

feat: add `core.{save_file,open_directory}_dialog`
  data/core/init.lua
Labels: Category: Lua Core

fix: use `SDL_zero` instead of `{}` for `DialogOptions` initialization
  src/api/system.c
Labels: Category: C Core

fix: use new dialog options style in `open_file`
  data/core/commands/core.lua
Labels: Category: Lua Core

feat: add dialog support to `core:{change,open}-project-folder` and `core:add-directory`
  data/core/commands/core.lua
Labels: Category: Lua Core

add focusgained event
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: C Core

add function to handle changing the update rate of SDL
  src/api/system.c
Labels: Category: C Core

change update rate depending on window focus
  data/core/init.lua
  src/main.c
Labels: Category: Lua Core, Category: C Core

removee stray comment
  data/core/init.lua
Labels: Category: Lua Core

newline
  src/state.h
Labels: Category: C Core

call step directly, properly pop valuese
  src/main.c
Labels: Category: C Core

feat: rewrite custom events to make use of SDL Properties
  src/api/dirmonitor.c
  src/api/system.c
  src/custom_events.c
  src/custom_events.h
  src/main.c
Labels: Category: C Core

move more window logic to renwindow api, move forward to multi windows
  data/core/commands/core.lua
  data/core/docview.lua
  data/core/ime.lua
  data/core/init.lua
  data/core/nagview.lua
  data/core/titleview.lua
  docs/api/renwindow.lua
  docs/api/system.lua
  src/api/renwindow.c
  src/api/system.c
Labels: Category: Documentation, Category: Lua Core, Category: C Core

fix link for build instructions
  README.md
Labels: Category: Meta

fix link for build instructions
  README.md
Labels: Category: Meta

build.sh: propagate LTO to SDL3
  scripts/build.sh
Labels: none

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*
