Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*

Allowed for multi-persistent windows.
  data/core/init.lua
  data/core/window.lua
  data/plugins/treeview.lua
  data/plugins/workspace.lua
  src/api/renwindow.c
Labels: Category: Lua Core, Category: Plugins, Category: C Core

Fixed up the source of most crashing when having invalid utf8 strings.
  data/core/doc/init.lua
  data/core/docview.lua
  data/core/tokenizer.lua
  data/plugins/highlighter.lua
Labels: Category: Lua Core, Category: Plugins

Fixed up the source of most crashing when having invalid utf8 strings.
  data/core/doc/init.lua
  data/core/docview.lua
  data/core/tokenizer.lua
  data/plugins/highlighter.lua
Labels: Category: Lua Core, Category: Plugins

Added in deselection and reselection of next word with ctrl+k.
  data/core/commands/findreplace.lua
  data/core/keymap.lua
Labels: Category: Lua Core

Whoops, removed extraneous function.
  data/core/commands/findreplace.lua
Labels: Category: Lua Core

Ensured that we don't needlessly invalidate precious, preicous highlighting.
  data/plugins/highlighter.lua
Labels: Category: Plugins

Ensured that we don't needlessly invalidate precious, preicous highlighting.
  data/plugins/highlighter.lua
Labels: Category: Plugins

Fix cutting whole line.
  data/core/commands/docview.lua
Labels: Category: Lua Core

Documented limitation.
  data/core/syntax.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

Documented limitation.
  data/core/syntax.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

Ensured that we properly treat visible lines as visible.
  data/core/docview.lua
Labels: Category: Lua Core

Ensured that we properly treat visible lines as visible.
  data/core/docview.lua
Labels: Category: Lua Core

Ensure a minimum visible field for bootup.
  data/core/docview.lua
Labels: Category: Lua Core

Ensure a minimum visible field for bootup.
  data/core/docview.lua
Labels: Category: Lua Core

Moved all deprecated functionality to compatibility3.
  data/core/commandview.lua
  data/core/config.lua
  data/core/init.lua
  data/core/node.lua
  data/core/statusview.lua
  data/plugins/compatibility3.lua
Labels: Category: Lua Core, Category: Plugins

Changed where codefolding clicks.
  data/plugins/codefolding.lua
Labels: Category: Plugins

Changed where codefolding clicks.
  data/plugins/codefolding.lua
Labels: Category: Plugins

Added in Doc selections fix for compatibility.
  data/plugins/compatibility3.lua
Labels: Category: Plugins

Added in deprecation log.
  data/plugins/compatibility3.lua
Labels: Category: Plugins

Improved handling of closes for multi-window.
  data/core/init.lua
  data/core/nagview.lua
  data/core/window.lua
  src/api/system.c
Labels: Category: Lua Core, Category: C Core

Improved handling of closes for multi-window.
  data/core/init.lua
  data/core/nagview.lua
  data/core/window.lua
  src/api/system.c
Labels: Category: Lua Core, Category: C Core

Added in some logic for plugins that insanely modify variables in doc directly.
  data/plugins/compatibility3.lua
Labels: Category: Plugins

Changed reference from core to root view.
  data/core/rootview.lua
Labels: Category: Lua Core

Changed reference from core to root view.
  data/core/rootview.lua
Labels: Category: Lua Core

Updated Freetype so that we no longer erroneously include a dynamic link to libbz2.
  subprojects/freetype2.wrap
Labels: Category: Build System

Updated Freetype so that we no longer erroneously include a dynamic link to libbz2. (#2175)
  subprojects/freetype2.wrap
Labels: Category: Build System

chore(ci): update macOS runners
  .github/workflows/build.yml
Labels: Category: CI

chore(ci): update macOS runners (#2177)
  .github/workflows/build.yml
Labels: Category: CI

Improved UTF-8 handling.
  data/core/commands/docview.lua
  data/core/doc/init.lua
Labels: Category: Lua Core

Improved UTF-8 handling.
  data/core/commands/docview.lua
  data/core/doc/init.lua
Labels: Category: Lua Core

Improved UTF-8 handling.
  data/core/doc/init.lua
  data/core/docview.lua
Labels: Category: Lua Core

Improved UTF-8 handling.
  data/core/doc/init.lua
  data/core/docview.lua
Labels: Category: Lua Core

Fixed detectindent.
  data/plugins/detectindent.lua
Labels: Category: Plugins

Fixed detectindent.
  data/plugins/detectindent.lua
Labels: Category: Plugins

Fixed drawwhitespace and added in the capability of enabling it on a per docview basis.
  data/core/docview.lua
  data/plugins/drawwhitespace.lua
Labels: Category: Lua Core, Category: Plugins

Don't needlessly override the user's enabled setting.
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins

Annotated sort_positions.
  data/core/common.lua
Labels: Category: Lua Core

Annotated sort_positions.
  data/core/common.lua
Labels: Category: Lua Core

Fixed drawwhitespace and added in the capability of enabling it on a per docview basis.
  data/core/docview.lua
  data/plugins/drawwhitespace.lua
Labels: Category: Lua Core, Category: Plugins

Don't needlessly override the user's enabled setting.
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins
