Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

language_lua: add files with `rockspec` extenstion (#2083)
  data/plugins/language_lua.lua
Labels: Category: Plugins

main: set the correct SDL_HINT_IME_IMPLEMENTED_UI
  src/main.c
Labels: Category: C Core

build.sh: update SDL3 version
  scripts/build.sh
Labels: none

subprojects: fix freetype2 bzip2 dep issue
  subprojects/freetype2.wrap
Labels: Category: Build System

main: fix not receiving text input
  src/main.c
Labels: Category: C Core

chore: update changelogs [skip ci]
  changelog.md
Labels: Category: Meta

chore: bump versions [skip ci]
  .github/workflows/release.yml
  meson.build
  resources/linux/org.lite_xl.lite_xl.appdata.xml
Labels: Category: CI, Category: Meta, Category: Build System, Category: Resources

feat: add `allow_many` to `{system,core}.open_file_dialog`
  data/core/init.lua
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: Lua Core, Category: C Core

feat: add `system.open_file_dialog`
  docs/api/system.lua
  src/api/system.c
  src/custom_events.h
Labels: Category: Documentation, Category: C Core

refactor: avoid spamming `get_custom_event` in `dirmonitor_check_thread`
  src/api/dirmonitor.c
Labels: Category: C Core

feat: add `system.{save_file,open_directory}_dialog`
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: C Core

feat: add `system.get_sandbox`
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: C Core

feat: add dialog support to `core:{change,open}-project-folder` and `core:add-directory`
  data/core/commands/core.lua
Labels: Category: Lua Core

feat: set `ptr` in `lxl_arena_copy` to `const`
  src/arena_allocator.c
  src/arena_allocator.h
Labels: Category: C Core

feat: rewrite custom events to make use of SDL Properties
  src/api/dirmonitor.c
  src/api/system.c
  src/custom_events.c
  src/custom_events.h
  src/main.c
Labels: Category: C Core

feat: when in a sandbox use file picker in `core:open-file` command
  data/core/commands/core.lua
  data/core/config.lua
Labels: Category: Lua Core

fix: use `SDL_zero` instead of `{}` for `DialogOptions` initialization
  src/api/system.c
Labels: Category: C Core

feat: implement `core.open_file_dialog`
  data/core/init.lua
Labels: Category: Lua Core

feat: log failure if dialog errors out in core commands
  data/core/commands/core.lua
Labels: Category: Lua Core

feat: move `system.open_file_dialog` options to table, add support to filters, title, accept and cancel labels
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: C Core

fix: use new dialog options style in `open_file`
  data/core/commands/core.lua
Labels: Category: Lua Core

feat: make custom SDL events registration cleaner
  src/api/dirmonitor.c
  src/custom_events.c
  src/custom_events.h
  src/main.c
  src/meson.build
Labels: Category: C Core

feat: add `core.{save_file,open_directory}_dialog`
  data/core/init.lua
Labels: Category: Lua Core

build: enable SDL Dialog subsystem
  scripts/build.sh
Labels: none

wip rewrite
  src/api/process.c
Labels: Category: C Core

wip rewrite 2
  src/api/process.c
Labels: Category: C Core

WIP process rewrite
  src/api/process.c
Labels: Category: C Core

build.sh: bump SDL3 to v3.2.14
  scripts/build.sh
Labels: none

build.sh: bump SDL version to 3.2.14
  scripts/build.sh
Labels: none

process: rewrite process API to use SDL3 Process API
  src/api/process.c
  src/main.c
Labels: Category: C Core

docs(process): update to reflect rewrite
  docs/api/process.lua
Labels: Category: Documentation

Update README.md
  README.md
Labels: Category: Meta

Update keymap.lua
  data/core/keymap.lua
Labels: Category: Lua Core

Added in manifest.json to main repository. [skip ci]
  manifest.json
Labels: Category: Meta

main: keep PLATFORM consistent between SDL2 and SDL3
  src/main.c
Labels: Category: C Core

core: make project_dir detection more robust
  data/core/init.lua
Labels: Category: Lua Core

Updated manifest and changed continuous build to skip checksums, as otherwise, this is going to be complicated. [skip ci]
  manifest.json
Labels: Category: Meta

Fixed things. [skip ci]
  manifest.json
Labels: Category: Meta

chore: update changelogs [skip ci]
  changelog.md
Labels: Category: Meta

chore: bump versions [skip ci]
  .github/workflows/release.yml
  meson.build
  resources/linux/org.lite_xl.lite_xl.appdata.xml
Labels: Category: CI, Category: Meta, Category: Build System, Category: Resources

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*
