Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*

language_lua: add files with `rockspec` extenstion
  data/plugins/language_lua.lua
Labels: Category: Plugins

replace memory functions with SDL equivalent
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
  src/api/dirmonitor/inodewatcher.cpp
  src/api/dirmonitor/inotify.c
  src/api/dirmonitor/kqueue.c
  src/api/dirmonitor/win32.c
  src/api/process.c
  src/api/regex.c
  src/api/system.c
  src/main.c
  src/rencache.c
  src/renderer.c
  src/utfconv.h
Labels: Category: C Core

build.sh: build SDL3 with CMake (#2060)
  .github/workflows/build.yml
  scripts/build.sh
Labels: Category: CI

Fixed dirmonitor.
  src/api/dirmonitor/inotify.c
Labels: Category: C Core

Added in manifest.json to main repository.
  manifest.json
Labels: Category: Meta

Fixed things.
  manifest.json
Labels: Category: Meta

Updated manifest and changed continuous build to skip checksums, as otherwise, this is going to be complicated.
  manifest.json
Labels: Category: Meta

postrelease: ignore RC builds
  .github/workflows/postrelease.yml
Labels: Category: CI

postrelease: ignore RC builds (#2082)
  .github/workflows/postrelease.yml
Labels: Category: CI

Update CSS plugin to support more units (#2010)
  data/plugins/language_css.lua
Labels: Category: Plugins

renderer: defer bitmap rendering when possible (#1856)
  src/renderer.c
Labels: Category: C Core

Added in stdlib as per #2014. (#2017)
  src/api/system.c
  src/rencache.c
  src/renderer.c
Labels: Category: C Core

Better wasm support again (#1779)
  resources/README.md
  resources/cross/unknown-wasm32.txt
  resources/shell.html
Labels: Category: Resources

add a __tostring method to every object (#1534)
  data/core/commandview.lua
  data/core/contextmenu.lua
  data/core/doc/highlighter.lua
  data/core/doc/init.lua
  data/core/docview.lua
  data/core/emptyview.lua
  data/core/logview.lua
  data/core/nagview.lua
  data/core/node.lua
  data/core/rootview.lua
  data/core/scrollbar.lua
  data/core/statusview.lua
  data/core/titleview.lua
  data/core/view.lua
  data/plugins/projectsearch.lua
  data/plugins/toolbarview.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

common.sh: support OSTYPE == cygwin for MSYS2 (#2028)
  scripts/common.sh
Labels: none

renderer: pass errors via SDL_SetError (#1919)
  src/api/renderer.c
  src/main.c
  src/renderer.c
  src/renderer.h
Labels: Category: C Core

move dependency resolving into source file (#1937)
  meson.build
  src/meson.build
Labels: Category: Meta, Category: Build System, Category: C Core

fix: use current char to determine `col` in `DocView:get_x_offset_col` (#1946)
  data/core/docview.lua
Labels: Category: Lua Core

common: allow / and \ as PATHSEP on Windows when fuzzy matching files (#1992)
  data/core/common.lua
Labels: Category: Lua Core

ci: add postrelease workflow to update docs and release winget packages (#1983)
  .github/workflows/postrelease.yml
Labels: Category: CI

language_cpp: add back digit separators (#2026)
  data/plugins/language_c.lua
  data/plugins/language_cpp.lua
Labels: Category: Plugins

Update InnoSetup files (#1988)
  .gitignore
  scripts/innosetup/innosetup.iss.in
  scripts/innosetup/innosetup.sh
  scripts/innosetup/lite-xl-banner@164x314.bmp
  scripts/innosetup/lite-xl-banner@192x386.bmp
  scripts/innosetup/lite-xl-banner@246x459.bmp
  scripts/innosetup/lite-xl-banner@273x556.bmp
  scripts/innosetup/lite-xl-banner@328x604.bmp
  scripts/innosetup/lite-xl@110x106.bmp
  scripts/innosetup/lite-xl@55x55.bmp
  scripts/innosetup/lite-xl@64x68.bmp
  scripts/innosetup/lite-xl@83x80.bmp
  scripts/innosetup/lite-xl@92x97.bmp
  scripts/innosetup/litexl-55px.bmp
  scripts/innosetup/wizard-modern-image.bmp
Labels: Category: Meta

syntax: warn against malformed patterns and disable them (#2029)
  data/core/syntax.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

fix: use correct charmap and glyphmap sizes (#1999)
  src/renderer.c
Labels: Category: C Core

ci: enable LTO for CI builds
  .github/workflows/release.yml
Labels: Category: CI

fix: don't go down the directory tree in `system.list_dir` (#2059)
  src/api/system.c
Labels: Category: C Core

build.sh: add LTO support
  scripts/build.sh
Labels: none

language_lua: add files with `rockspec` extenstion
  data/plugins/language_lua.lua
Labels: Category: Plugins

SDL3 port (#1756)
  .github/workflows/build.yml
  .github/workflows/release.yml
  meson.build
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
  src/api/process.c
  src/api/system.c
  src/main.c
  src/meson.build
  src/rencache.c
  src/renderer.c
  src/renderer.h
  src/renwindow.c
  src/renwindow.h
  subprojects/sdl2.wrap
Labels: Category: CI, Category: Meta, Category: Build System, Category: C Core

build.sh: build SDL3 with CMake (#2060)
  .github/workflows/build.yml
  .github/workflows/release.yml
  scripts/build.sh
Labels: Category: CI

Fixed dirmonitor.
  src/api/dirmonitor/inotify.c
Labels: Category: C Core

feat: add SDL App Metadata (#2068)
  meson.build
  src/main.c
Labels: Category: Meta, Category: Build System, Category: C Core

replace memory functions with SDL equivalent
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
  src/api/dirmonitor/inotify.c
  src/api/dirmonitor/kqueue.c
  src/api/dirmonitor/win32.c
  src/api/process.c
  src/api/regex.c
  src/api/system.c
  src/main.c
  src/rencache.c
  src/renderer.c
  src/utfconv.h
Labels: Category: C Core

system: update window scale on scale changes
  src/api/system.c
Labels: Category: C Core

build.sh: fix LTO option parsing
  scripts/build.sh
Labels: none

postrelease: ignore RC builds (#2082)
  .github/workflows/postrelease.yml
Labels: Category: CI

appstream: fix screenshot link
  resources/linux/org.lite_xl.lite_xl.appdata.xml
Labels: Category: Resources

chore: bump versions
  .github/workflows/release.yml
  meson.build
  resources/linux/org.lite_xl.lite_xl.appdata.xml
Labels: Category: CI, Category: Meta, Category: Build System, Category: Resources

chore: update changelogs
  changelog.md
Labels: Category: Meta

language_lua: add files with `rockspec` extenstion
  data/plugins/language_lua.lua
Labels: Category: Plugins
