Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*

ci: use 7z to create zip
  .github/workflows/build.yml
Labels: Category: CI

main.c: use SDL_main.h
  meson.build
  src/main.c
Labels: Category: Meta, Category: Build System, Category: C Core

core: use SDL3 application callbacks
  data/core/init.lua
  docs/api/system.lua
  src/api/system.c
  src/main.c
Labels: Category: Documentation, Category: Lua Core, Category: C Core

main: fix undefined L variable
  src/main.c
Labels: Category: C Core

main: add ctypes.h
  src/main.c
Labels: Category: C Core

ci: debug builds for CI again (#2051)
  .github/workflows/build.yml
  scripts/build.sh
Labels: Category: CI

build.sh: add LTO support
  scripts/build.sh
Labels: none

ci: enable LTO for CI builds
  .github/workflows/build.yml
Labels: Category: CI

build.sh: add LTO support
  scripts/build.sh
Labels: none

ci: enable LTO for CI builds
  .github/workflows/build.yml
Labels: Category: CI

renderer: use SDL_MapRGBA and SDL_GetRGBA
  src/renderer.c
Labels: Category: C Core

renderer: correctly read pixel data from 8,16,24,32-bit pixel formats
  src/renderer.c
Labels: Category: C Core

renderer: use correct pixel read for different endianess
  src/renderer.c
Labels: Category: C Core

renderer.c: use #if instead of if for checking endianess
  src/renderer.c
Labels: Category: C Core

Exit an already open CommandView in CommandView:enter
  data/core/commandview.lua
  data/core/keymap.lua
Labels: Category: Lua Core

remove SDL wrap
  scripts/build.sh
  subprojects/sdl2.wrap
Labels: Category: Build System

fix darwin and windows CI
  .github/workflows/build.yml
  src/renwindow.c
Labels: Category: CI, Category: C Core

update build box, correct msys sdl3 dependency
  .github/workflows/build.yml
Labels: Category: CI

update to SDL 3.2.0
  data/core/ime.lua
  data/core/init.lua
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
  src/api/process.c
  src/api/renwindow.c
  src/api/system.c
  src/main.c
  src/meson.build
  src/rencache.c
  src/renderer.c
  src/renderer.h
  src/renwindow.c
  src/renwindow.h
Labels: Category: Lua Core, Category: C Core

ci: use 7z to create zip
  .github/workflows/build.yml
Labels: Category: CI

main.c: use SDL_main.h
  meson.build
  src/main.c
Labels: Category: Meta, Category: Build System, Category: C Core

ci: use vcpkg and pkgconf to support SDL3 on MSVC
  .github/workflows/build.yml
  src/meson.build
Labels: Category: CI, Category: C Core

remove SDL main dep the main implementation is now included in a header
  src/meson.build
Labels: Category: C Core

port leftovers from renderer backend to SDL3
  src/renwindow.c
Labels: Category: C Core

renderer: fix trailing whitespace
  src/renderer.c
Labels: Category: C Core

renwindow: create texture and surface suitable for the display
  src/renwindow.c
Labels: Category: C Core

system: remove trailing whitespace
  src/api/system.c
Labels: Category: C Core

system: fix checking the wrong argument
  src/api/system.c
Labels: Category: C Core

system: make set_window_hit_test and set_window_bordered accept a window
  data/core/titleview.lua
  src/api/system.c
Labels: Category: Lua Core, Category: C Core

system: port rmdir and stat to SDL3 API
  src/api/system.c
Labels: Category: C Core

system: remove unneeded API level check
  src/api/system.c
Labels: Category: C Core

system: fix wrong parameter index
  src/api/system.c
Labels: Category: C Core

docs/system: update docs
  docs/api/system.lua
Labels: Category: Documentation

system: restore some comments
  src/api/system.c
Labels: Category: C Core

docs/system: add missing documentation for system.text_input
  docs/api/system.lua
Labels: Category: Documentation

system: use SDL_setenv_unsafe
  src/api/system.c
Labels: Category: C Core

system: add back comment for setenv
  src/api/system.c
Labels: Category: C Core

system,renderer: remove unnecessary SDL_ClearError calls
  src/api/system.c
  src/renderer.c
Labels: Category: C Core

SDL3 port (#1756)
  .github/workflows/build.yml
  data/core/ime.lua
  data/core/init.lua
  data/core/titleview.lua
  docs/api/system.lua
  meson.build
  scripts/build.sh
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
  src/api/process.c
  src/api/renwindow.c
  src/api/system.c
  src/main.c
  src/meson.build
  src/rencache.c
  src/renderer.c
  src/renderer.h
  src/renwindow.c
  src/renwindow.h
  subprojects/sdl2.wrap
Labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Lua Core, Category: C Core

core: fix not passing window when configuring borderless mode
  data/core/init.lua
Labels: Category: Lua Core
