Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

Fixed architectures in manifest.json for older builds.
  manifest.json
Labels: Category: Meta

chore: bump versions [skip ci]
  .github/workflows/release.yml
  meson.build
  resources/linux/org.lite_xl.lite_xl.appdata.xml
Labels: Category: CI, Category: Meta, Category: Build System, Category: Resources

chore: update changelogs [skip ci]
  changelog.md
Labels: Category: Meta

Bundle lpm with lite-xl
  meson_options.txt
  src/meson.build
  subprojects/lpm.wrap
Labels: Category: Meta, Category: Build System, Category: C Core

Made findfile update suggestions as more results come in. (#2039)
  data/core/commandview.lua
  data/core/common.lua
  data/plugins/findfile.lua
Labels: Category: Lua Core, Category: Plugins

Virtual lines begins.
  data/core/command.lua
  data/core/commands/doc.lua
  data/core/commands/docview.lua
  data/core/commands/findreplace.lua
  data/core/commandview.lua
  data/core/common.lua
  data/core/doc/highlighter.lua
  data/core/doc/init.lua
  data/core/doc/translate.lua
  data/core/docview.lua
  data/core/keymap-macos.lua
  data/core/keymap.lua
  data/core/rootview.lua
  data/core/statusview.lua
  data/plugins/autocomplete.lua
  data/plugins/codefolding.lua
  data/plugins/drawwhitespace.lua
  data/plugins/highlighter.lua
  data/plugins/linewrapping.lua
  data/plugins/projectsearch.lua
  data/plugins/trimwhitespace.lua
  data/plugins/workspace.lua
Labels: Category: Lua Core, Category: Plugins

Fixed a folding issue.
  data/plugins/codefolding.lua
Labels: Category: Plugins

Revert "Removed storage module."
  data/core/init.lua
  data/plugins/autorestart.lua
  src/api/renwindow.c
  src/main.c
  src/renderer.c
  src/renderer.h
Labels: Category: Lua Core, Category: Plugins, Category: C Core

Removed if statements as we're on SDL3.
  src/main.c
  src/renderer.c
Labels: Category: C Core

updated to SDL3.
  src/renderer.c
Labels: Category: C Core

Changed initialization styles to SDL3.
  data/core/init.lua
  src/main.c
  src/renderer.c
Labels: Category: Lua Core, Category: C Core

Removed unecessary dofile.
  data/core/init.lua
Labels: Category: Lua Core

Add template string syntax handling
  data/plugins/language_js.lua
Labels: Category: Plugins

Fix backtick escaping on a js templating string
  data/plugins/language_js.lua
Labels: Category: Plugins

default anti-aliasing to grayscale on non MacOS platforms
  src/api/renderer.c
Labels: Category: C Core

Requires a tostring, as autocomplete passes an object with a metatable that overrides __tostring; and relies on this to work with fuzzy match.
  data/core/common.lua
Labels: Category: Lua Core

Ensured that we can always read files, even binary ones.
  data/core/init.lua
Labels: Category: Lua Core

Cleaned up vcache shrinking.
  data/core/docview.lua
Labels: Category: Lua Core

restore light lcd filter for slight hinting
  src/renderer.c
Labels: Category: C Core

Fixed a small bug that caused us to think we were in a coroutine when we weren't.
  data/core/process.lua
Labels: Category: Lua Core

Used a more correct function.
  data/core/process.lua
Labels: Category: Lua Core

Coroutine Process Fix (#2099)
  data/core/process.lua
Labels: Category: Lua Core

Update data/plugins/language_js.lua
  data/plugins/language_js.lua
Labels: Category: Plugins

Clarified stack traces when require is involved.
  data/core/init.lua
  data/core/start.lua
Labels: Category: Lua Core

Slight cleanup.
  data/core/start.lua
Labels: Category: Lua Core

Created error class and transparent throw.
  data/core/init.lua
  data/core/start.lua
Labels: Category: Lua Core

Made error.new if passed an error simply return that error.
  data/core/init.lua
  data/core/start.lua
Labels: Category: Lua Core

Fixed explicit passing of levels.
  data/core/start.lua
Labels: Category: Lua Core

Pulling in, updating, and normalizing: https://github.com/pragtical/pragtical/pull/278.
  data/core/tokenizer.lua
  data/plugins/language_html.lua
  data/plugins/language_md.lua
  data/plugins/language_python.lua
Labels: Category: Lua Core, Category: Plugins

Made python be triggered by `py` in markdown, and also walked up the subsyntax tree for hard lexical stops.
  data/core/tokenizer.lua
  data/plugins/language_md.lua
Labels: Category: Lua Core, Category: Plugins

Expanded define definition.
  data/plugins/language_c.lua
Labels: Category: Plugins

Updated windows server image for github runner.
  .github/workflows/build.yml
Labels: Category: CI

Update windows server image for github runner (#2113)
  .github/workflows/build.yml
Labels: Category: CI

use insert in autoreload
  data/plugins/autoreload.lua
Labels: Category: Plugins

use insert in autoreload again
  data/plugins/autoreload.lua
Labels: Category: Plugins

Resolved type-complaints that are detected by LuaLS
  data/core/command.lua
  data/core/commands/core.lua
  data/core/common.lua
  docs/api/system.lua
Labels: Category: Documentation, Category: Lua Core

Added scancode support.
  data/core/keymap.lua
  src/api/system.c
Labels: Category: Lua Core, Category: C Core

use load_content
  data/plugins/autoreload.lua
Labels: Category: Plugins

add Doc:load_content
  data/core/doc/init.lua
Labels: Category: Lua Core

Added in plugin guard to check for being disabled.
  data/core/start.lua
Labels: Category: Lua Core

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*
