Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*

Update README.md
  README.md
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Made it so that when we close the fold, we break it.
  data/plugins/codefolding.lua
Labels: Category: Plugins

Tightened things up.
  data/plugins/codefolding.lua
  data/plugins/linewrapping.lua
Labels: Category: Plugins

Fixed dirmonitor.
  src/api/dirmonitor/inotify.c
Labels: Category: C Core

Fixed dirmonitor.
  src/api/dirmonitor/inotify.c
Labels: Category: C Core

Convert to the virtual line in question.
  data/plugins/codefolding.lua
Labels: Category: Plugins

doc: make doc:select-word select whitespace as well
  data/core/commands/doc.lua
  data/core/doc/translate.lua
Labels: Category: Lua Core

doc: add doc:indent-lines and doc:unindent-lines
  data/core/commands/doc.lua
  data/core/keymap.lua
Labels: Category: Lua Core

build.sh: add LTO support
  scripts/build.sh
Labels: none

ci: enable LTO for CI builds
  .github/workflows/build.yml
Labels: Category: CI

add better delete movements
  data/core/commands/doc.lua
  data/core/config.lua
  data/core/doc/translate.lua
Labels: Category: Lua Core

build.sh: replace -d with -m
  scripts/build.sh
Labels: none

ci: generate debug builds for PR and non-master CI
  .github/workflows/build.yml
Labels: Category: CI

ci: bump lite-xl-build-box to v4
  .github/workflows/build.yml
Labels: Category: CI

ci: remove wrong options for packaging script
  .github/workflows/build.yml
Labels: Category: CI

ci: check for tag pushes as well
  .github/workflows/build.yml
Labels: Category: CI

ci: run release step only when tagged or continuous release
  .github/workflows/build.yml
Labels: Category: CI

Changed to use deprecation log instead of regular warn so as to not spam logs.
  data/core/storage.lua
  data/plugins/workspace.lua
Labels: Category: Lua Core, Category: Plugins

Fixed trimwhitespace to accomodate new virtual lines architecture.
  data/plugins/trimwhitespace.lua
Labels: Category: Plugins

Added in check for the blink timer so that we don't needlessly redraw.
  data/core/docview.lua
Labels: Category: Lua Core

Added in cache for get_vselections, as it's a constnatly called function. I don't like it, but performance if you have the cursor later in the line is pretty bad otherwise.
  data/core/docview.lua
Labels: Category: Lua Core

Ensured that the cache had the intra being paid attention to.
  data/core/docview.lua
Labels: Category: Lua Core

Update README.md
  README.md
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Revert "Removed storage module."
  data/core/init.lua
  data/core/storage.lua
  data/plugins/autorestart.lua
  data/plugins/workspace.lua
  src/api/renwindow.c
  src/main.c
  src/renderer.c
  src/renderer.h
Labels: Category: Lua Core, Category: Plugins, Category: C Core

Removed hints.
  src/main.c
Labels: Category: C Core

Whoops.
  data/core/storage.lua
  data/plugins/workspace.lua
Labels: Category: Lua Core, Category: Plugins

Reverting things.
  data/core/init.lua
Labels: Category: Lua Core

Fixed up warnings.
  data/core/init.lua
  data/plugins/workspace.lua
Labels: Category: Lua Core, Category: Plugins

update to SDL 3.2.0
  data/core/ime.lua
  data/core/init.lua
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
  src/api/process.c
  src/api/renwindow.c
  src/api/system.c
  src/main.c
  src/meson.build
  src/rencache.c
  src/renderer.c
  src/renderer.h
  src/renwindow.c
  src/renwindow.h
Labels: Category: Lua Core, Category: C Core

fix darwin and windows CI
  .github/workflows/build.yml
  src/renwindow.c
Labels: Category: CI, Category: C Core

remove SDL wrap
  scripts/build.sh
  subprojects/sdl2.wrap
Labels: Category: Build System

port leftovers from renderer backend to SDL3
  src/renwindow.c
Labels: Category: C Core

update build box, correct msys sdl3 dependency
  .github/workflows/build.yml
Labels: Category: CI

remove SDL main dep the main implementation is now included in a header
  src/meson.build
Labels: Category: C Core

ci: use vcpkg and pkgconf to support SDL3 on MSVC
  .github/workflows/build.yml
  src/meson.build
Labels: Category: CI, Category: C Core

ci: use debugoptimized for msvc
  .github/workflows/build.yml
Labels: Category: CI
