Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*

feat(canvas): add support for non-blending `draw_canvas`
  docs/api/canvas.lua
  src/api/canvas.c
  src/rencache.c
  src/renderer.c
  src/renderer.h
Labels: Category: Documentation, Category: C Core

Update renwindow.lua
  docs/api/renwindow.lua
Labels: Category: Documentation

Update renwindow.lua
  docs/api/renwindow.lua
Labels: Category: Documentation

Updated init.lua (#2150)
  docs/api/renwindow.lua
Labels: Category: Documentation

Fixed small error with window title.
  data/core/rootview.lua
  data/core/window.lua
Labels: Category: Lua Core

Update custom_events.c
  src/custom_events.c
Labels: Category: C Core

fix: make `get_custom_event_callback_by_name` return `NULL` on invalid event name (#2154)
  src/custom_events.c
Labels: Category: C Core

Adjusted parameter order and docs for renwindow create.
  docs/api/renwindow.lua
  src/api/renwindow.c
Labels: Category: Documentation, Category: C Core

Adjusted parameter order and docs for renwindow create. (#2155)
  docs/api/renwindow.lua
  src/api/renwindow.c
Labels: Category: Documentation, Category: C Core

Ensure cursor splititng works correctly.
  data/core/commands/docview.lua
Labels: Category: Lua Core

Changed to an options table for argumnets.
  data/core/command.lua
  data/core/commands/contextmenu.lua
  data/core/commands/doc.lua
  data/core/commands/root.lua
  data/core/contextmenu.lua
  data/core/docview.lua
  data/core/keymap.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

Updated all logic to use `perform` on a view.
  data/core/commands/core.lua
  data/core/commands/dialog.lua
  data/core/commands/doc.lua
  data/core/commands/root.lua
  data/core/contextmenu.lua
  data/core/init.lua
  data/core/keymap.lua
  data/core/nagview.lua
  data/core/rootview.lua
  data/core/statusview.lua
  data/core/view.lua
  data/plugins/linewrapping.lua
  data/plugins/toolbarview.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

Fixed a small bug relating to file saving.
  data/core/commands/doc.lua
Labels: Category: Lua Core

Fixed get_active_node calls.
  data/core/rootview.lua
Labels: Category: Lua Core

Split off primary node.
  data/plugins/treeview.lua
Labels: Category: Plugins

Removed legacy exec function.
  data/core/commands/core.lua
  data/core/rootview.lua
  data/plugins/treeview.lua
  src/api/system.c
Labels: Category: Lua Core, Category: Plugins, Category: C Core

Adds in a trust guard for projectt modules.
  data/core/config.lua
  data/core/init.lua
Labels: Category: Lua Core

Moved things into functions and commands.
  data/core/commands/core.lua
  data/core/init.lua
  data/core/project.lua
Labels: Category: Lua Core

Fixed a few small issues.
  data/core/commands/core.lua
  data/core/config.lua
  data/core/init.lua
  data/core/project.lua
Labels: Category: Lua Core

Removed unecessary lines.
  data/core/init.lua
Labels: Category: Lua Core

Fixed to use the new system.
  data/plugins/projectsearch.lua
Labels: Category: Plugins

Fixed up projectsearch.
  data/plugins/projectsearch.lua
  data/plugins/treeview.lua
Labels: Category: Plugins

Fixed fullscreen.
  data/core/commands/core.lua
  data/core/rootview.lua
  data/core/window.lua
Labels: Category: Lua Core

Added CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: Category: Meta

Added reference to non-core plugin 3.0 branch
  CONTRIBUTING.md
Labels: Category: Meta

Fixed erroneous call to on_mouse_pressed.
  data/plugins/codefolding.lua
Labels: Category: Plugins

Apply suggestions from code review
  CONTRIBUTING.md
  README.md
Labels: Category: Meta

Manually integrated suggestions
  CONTRIBUTING.md
Labels: Category: Meta

Fixed move-lines-up
  data/core/commands/docview.lua
Labels: Category: Lua Core

Fix typo.
  data/core/commands/dialog.lua
Labels: Category: Lua Core

Fix typo.
  data/core/commands/dialog.lua
Labels: Category: Lua Core

Moved window restoration around.
  data/core/init.lua
  data/plugins/workspace.lua
Labels: Category: Lua Core, Category: Plugins

Moved window restoration around.
  data/core/init.lua
  data/plugins/workspace.lua
Labels: Category: Lua Core, Category: Plugins

Fixed segfault.
  data/plugins/workspace.lua
  src/api/system.c
Labels: Category: Plugins, Category: C Core

Fixed segfault.
  data/plugins/workspace.lua
  src/api/system.c
Labels: Category: Plugins, Category: C Core

Changed to rootview.
  data/plugins/treeview.lua
Labels: Category: Plugins

Added back in ability to set a position.
  data/plugins/workspace.lua
  src/api/renwindow.c
Labels: Category: Plugins, Category: C Core

Changed to rootview.
  data/plugins/treeview.lua
Labels: Category: Plugins

Added back in ability to set a position.
  data/plugins/workspace.lua
  src/api/renwindow.c
Labels: Category: Plugins, Category: C Core

Allowed for multi-persistent windows.
  data/core/init.lua
  data/core/window.lua
  data/plugins/treeview.lua
  data/plugins/workspace.lua
  src/api/renwindow.c
Labels: Category: Lua Core, Category: Plugins, Category: C Core
