Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*

Updated scoring algorithm.
  data/core/common.lua
Labels: Category: Lua Core

Added in ability for commandview to preserve the suggestion index.
  data/core/commandview.lua
  data/plugins/findfile.lua
Labels: Category: Lua Core, Category: Plugins

Added in ability to preserve things, and made sure that we zero out a thread if it's dead.
  data/core/commandview.lua
  data/plugins/findfile.lua
Labels: Category: Lua Core, Category: Plugins

Clarity.
  data/plugins/findfile.lua
Labels: Category: Plugins

Made interval make more sense.
  data/plugins/findfile.lua
Labels: Category: Plugins

Ensured that core.visited_files is involved.
  data/plugins/findfile.lua
Labels: Category: Plugins

Added in comments and changed the maximum amount of time we can spend in a loop.
  data/plugins/findfile.lua
Labels: Category: Plugins

Removed unecessary variable.
  data/core/commandview.lua
Labels: Category: Lua Core

Keeps tracks of last user action on the commandview.
  data/core/commandview.lua
Labels: Category: Lua Core

commandview: document public functions
  data/core/commandview.lua
Labels: Category: Lua Core

common: add nil to possible options for `align`
  data/core/common.lua
Labels: Category: Lua Core

view: fix missing @return annotiation
  data/core/view.lua
Labels: Category: Lua Core

commandview: add state option because luals doesn't support partial
  data/core/commandview.lua
Labels: Category: Lua Core

Reworked to avoid needing to specify preserve.
  data/core/commandview.lua
  data/plugins/findfile.lua
Labels: Category: Lua Core, Category: Plugins

balance computed directory list, remove recursive function invocation (#1991)
  data/core/project.lua
Labels: Category: Lua Core

Updated constants.
  data/plugins/findfile.lua
Labels: Category: Plugins

Updated to record the user's last supplied text, and then use it when we're grepping through suggestions.
  data/core/commandview.lua
Labels: Category: Lua Core

Typo.
  data/plugins/findfile.lua
Labels: Category: Plugins

Implementing Guldo's changes.
  data/core/commandview.lua
Labels: Category: Lua Core

Fixed minor bug relating to the new project reworok changes, which stopped new-folder and new-file from working correctly.
  data/plugins/treeview.lua
Labels: Category: Plugins

Made it so codefolding doesn't pay attention to comments or strings, and folds generally better.
  data/plugins/codefolding.lua
  data/plugins/highlighter.lua
Labels: Category: Plugins

Properly annotate preivous tokens ending in newlines.
  data/core/docview.lua
Labels: Category: Lua Core

Virtual lines begins.
  data/core/command.lua
  data/core/commands/doc.lua
  data/core/commands/docview.lua
  data/core/commands/findreplace.lua
  data/core/commandview.lua
  data/core/common.lua
  data/core/doc/highlighter.lua
  data/core/doc/init.lua
  data/core/doc/translate.lua
  data/core/docview.lua
  data/core/keymap-macos.lua
  data/core/keymap.lua
  data/core/rootview.lua
  data/core/statusview.lua
  data/plugins/autocomplete.lua
  data/plugins/codefolding.lua
  data/plugins/drawwhitespace.lua
  data/plugins/highlighter.lua
  data/plugins/linewrapping.lua
  data/plugins/projectsearch.lua
  data/plugins/trimwhitespace.lua
  data/plugins/workspace.lua
Labels: Category: Lua Core, Category: Plugins

Update drawwhitespace.lua
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins

Update README.md
  README.md
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Add files via upload
  wqy_maplemono_saramono.png
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta

Updated projectsearch to be compatible with virtual lines.
  data/plugins/projectsearch.lua
Labels: Category: Plugins

Because we've bumped mod-version, we should change the bundled version of welcome and plugin_manager.
  data/meson.build
Labels: none

Updated manifest and changed continuous build to skip checksums, as otherwise, this is going to be complicated.
  manifest.json
Labels: Category: Meta

Added in manifest.json to main repository.
  manifest.json
Labels: Category: Meta

Fixed things.
  manifest.json
Labels: Category: Meta

Update README.md
  README.md
Labels: Category: Meta
