Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*

perf(tokenizer): C core for the common tokenize path (~10x)
  data/core/config.lua
  data/core/tokenizer.lua
  src/api/api.c
  src/api/tokenizer.c
  src/meson.build
Labels: Category: Lua Core, Category: C Core

test(tokenizer): differential Lua-vs-C check + resolve resume in the golden
  test/tokenizer/diff.lua
  test/tokenizer/diff.sh
  test/tokenizer/golden.txt
  test/tokenizer/run.lua
Labels: none

perf(tokenizer): handle subsyntaxes in the C core
  src/api/tokenizer.c
Labels: Category: C Core

perf(tokenizer): first-byte pattern index + fewer per-token crossings
  src/api/tokenizer.c
Labels: Category: C Core

refactor(tokenizer): drop the catch-all patterns, skip runs inline
  data/core/syntax.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

fix(tokenizer): don't use a `type` table as a token type
  data/core/tokenizer.lua
Labels: Category: Lua Core

fix(tokenizer): don't use a `type` table as a token type
  data/core/tokenizer.lua
Labels: Category: Lua Core

perf(tokenizer): stop declining the type-table capture-less close
  src/api/tokenizer.c
  test/tokenizer/golden.txt
Labels: Category: C Core

perf(tokenizer): time-budget + resume in the C core
  data/core/tokenizer.lua
  src/api/tokenizer.c
  test/tokenizer/diff.lua
Labels: Category: Lua Core, Category: C Core

feat(utf8): lax-decode invalid UTF-8 in the pattern matcher
  src/api/utf8.c
Labels: Category: C Core

feat(utf8): let the pattern matcher run without a lua_State
  src/api/utf8.c
Labels: Category: C Core

test(tokenizer): recreate the build/src/data symlink in the harness
  test/tokenizer/diff.sh
  test/tokenizer/run.sh
Labels: none

feat(tokenizer-c): pre-resolve subsyntaxes so the scan never touches Lua
  src/api/tokenizer.c
Labels: Category: C Core

feat(tokenizer-c): background worker thread for whole-line tokenization
  src/api/tokenizer.c
Labels: Category: C Core

feat(highlighter): offload catch-up to the tokenizer worker thread
  data/core/config.lua
  data/core/doc/highlighter.lua
  data/core/tokenizer.lua
  test/tokenizer/hlthread.lua
  test/tokenizer/hlthread.sh
  test/tokenizer/thread.lua
  test/tokenizer/thread.sh
Labels: Category: Lua Core
