Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

Additional documentation.
  data/core/view.lua
Labels: Category: Lua Core

Cleaned up treeview rework, and incoporated Guldo's comments.
  data/core/commands/contextmenu.lua
  data/core/contextmenu.lua
  data/core/docview.lua
  data/core/view.lua
  data/plugins/scale.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

Streamlined language.
  data/core/commands/contextmenu.lua
  data/core/keymap.lua
Labels: Category: Lua Core

Allowed for positional context menu override.
  data/core/commands/contextmenu.lua
Labels: Category: Lua Core

Readded this menu bind.
  data/core/keymap.lua
Labels: Category: Lua Core

Removed trailing space.
  data/core/contextmenu.lua
Labels: Category: Lua Core

feat: make custom SDL events registration cleaner
  src/api/dirmonitor.c
  src/custom_events.c
  src/custom_events.h
  src/main.c
  src/meson.build
Labels: Category: C Core

feat: implement `core.open_file_dialog`
  data/core/init.lua
Labels: Category: Lua Core

feat: add `allow_many` to `{system,core}.open_file_dialog`
  data/core/init.lua
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: Lua Core, Category: C Core

feat: add `system.open_file_dialog`
  docs/api/system.lua
  src/api/system.c
  src/custom_events.h
Labels: Category: Documentation, Category: C Core

feat: add `system.get_sandbox`
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: C Core

feat: add `core.{save_file,open_directory}_dialog`
  data/core/init.lua
Labels: Category: Lua Core

fix: use `SDL_zero` instead of `{}` for `DialogOptions` initialization
  src/api/system.c
Labels: Category: C Core

feat: move `system.open_file_dialog` options to table, add support to filters, title, accept and cancel labels
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: C Core

feat: when in a sandbox use file picker in `core:open-file` command
  data/core/commands/core.lua
  data/core/config.lua
Labels: Category: Lua Core

feat: set `ptr` in `lxl_arena_copy` to `const`
  src/arena_allocator.c
  src/arena_allocator.h
Labels: Category: C Core

feat: add `system.{save_file,open_directory}_dialog`
  docs/api/system.lua
  src/api/system.c
Labels: Category: Documentation, Category: C Core

refactor: avoid spamming `get_custom_event` in `dirmonitor_check_thread`
  src/api/dirmonitor.c
Labels: Category: C Core

fix: use new dialog options style in `open_file`
  data/core/commands/core.lua
Labels: Category: Lua Core

feat: log failure if dialog errors out in core commands
  data/core/commands/core.lua
Labels: Category: Lua Core

build: enable SDL Dialog subsystem
  scripts/build.sh
Labels: none

feat: add dialog support to `core:{change,open}-project-folder` and `core:add-directory`
  data/core/commands/core.lua
Labels: Category: Lua Core

feat: rewrite custom events to make use of SDL Properties
  src/api/dirmonitor.c
  src/api/system.c
  src/custom_events.c
  src/custom_events.h
  src/main.c
Labels: Category: C Core

feat: add SDL file picker (#2072)
  data/core/commands/core.lua
  data/core/config.lua
  data/core/init.lua
  docs/api/system.lua
  scripts/build.sh
  src/api/dirmonitor.c
  src/api/system.c
  src/arena_allocator.c
  src/arena_allocator.h
  src/custom_events.c
  src/custom_events.h
  src/main.c
  src/meson.build
Labels: Category: Documentation, Category: Lua Core, Category: C Core

Removed unecessary requires.
  data/core/contextmenu.lua
Labels: Category: Lua Core

fix(ci): pin Windows runner to `windows-2022`
  .github/workflows/build.yml
Labels: Category: CI

Allow for negative priority numbers.
  data/core/init.lua
Labels: Category: Lua Core

Use display scale in rendering and for mouse
  src/api/renwindow.c
  src/api/system.c
Labels: Category: C Core

Backporting ancient fix to allow for large amounts of reading. (#1547)
  src/api/process.c
Labels: Category: C Core

Update keymap.lua (#2089)
  data/core/keymap.lua
Labels: Category: Lua Core

system: update window scale on scale changes (#2081)
  src/api/system.c
Labels: Category: C Core

Context Menu Rework (#2122)
  data/core/command.lua
  data/core/commands/contextmenu.lua
  data/core/contextmenu.lua
  data/core/docview.lua
  data/core/keymap.lua
  data/core/rootview.lua
  data/core/view.lua
  data/plugins/contextmenu.lua
  data/plugins/scale.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

fix(ci): pin Windows runner to `windows-2022` (#2142)
  .github/workflows/build.yml
Labels: Category: CI

Fixed a small issue with accumulatte_tokens and utf8.
  data/core/docview.lua
Labels: Category: Lua Core

Removed selection reset.
  data/core/doc/init.lua
Labels: Category: Lua Core

Sanitize selection, otherwise cursor position from previous commandview uses will be uses, which can lead to odd behaviour.
  data/core/commandview.lua
Labels: Category: Lua Core

Make mouse wheel work even with low sensitivity
  src/api/system.c
Labels: Category: C Core

Fix window size restoration
  src/api/renwindow.c
Labels: Category: C Core

Fix root_view command perform.
  data/core/commands/dialog.lua
Labels: Category: Lua Core

Changed active_window to root_view.
  data/plugins/autocomplete.lua
Labels: Category: Plugins

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*
