Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*

Fixed.
  data/core/commands/core.lua
Labels: Category: Lua Core

Allow for trust = true to make sense.
  data/core/project.lua
Labels: Category: Lua Core

Added in system.exec compatibiltiy function.
  data/plugins/compatibility3.lua
Labels: Category: Plugins

Updated compatibility.
  data/plugins/compatibility3.lua
Labels: Category: Plugins

Font rejigging.
  data/core/commandview.lua
  data/core/common.lua
  data/core/docview.lua
  data/core/emptyview.lua
  data/core/font.lua
  data/core/init.lua
  data/core/logview.lua
  data/core/nagview.lua
  data/core/statusview.lua
  data/core/style.lua
  data/core/tokenizer.lua
  data/plugins/autocomplete.lua
  data/plugins/compatibility3.lua
  data/plugins/highlighter.lua
  data/plugins/language_md.lua
  data/plugins/projectsearch.lua
  data/plugins/scale.lua
  data/plugins/toolbarview.lua
  src/api/renderer.c
  src/renderer.c
Labels: Category: Lua Core, Category: Plugins, Category: C Core

Remove rule that treated block colons as type annotations.
  data/plugins/language_python.lua
Labels: Category: Plugins

Whoops.
  data/core/project.lua
Labels: Category: Lua Core

initial commit
  ARCHITECTURE.md
  BASE-ARCHITECTURE.md
  HOW_TO_BUILD.md
  PLAN.md
  STARTER_CONTRIBUTIONS.md
  data/core/agent.lua
  data/core/ai.lua
  data/core/tools.lua
  data/plugins/ai_chat.lua
  data/plugins/treeview.lua
  data/tests/ai_tests.lua
  subprojects/.wraplock
Labels: Category: Meta, Category: Build System, Category: Lua Core, Category: Plugins

Fixed a small issue.
  data/plugins/treeview.lua
Labels: Category: Plugins

Added in horizontal scrollbar computations.
  data/core/docview.lua
Labels: Category: Lua Core

Bound commands.
  data/plugins/treeview.lua
Labels: Category: Plugins

Fixed moved lines up and moved lines down for multicursors.
  data/core/commands/docview.lua
Labels: Category: Lua Core

docs(api/canvas): use correct function names
  docs/api/canvas.lua
Labels: Category: Documentation

Applied patch from @lalelalela_90748.
  src/api/process.c
Labels: Category: C Core

Added in poll_process in order to ensure process is flagged as not running.
  src/api/process.c
Labels: Category: C Core

Update com.lite_xl.LiteXL.desktop
  resources/linux/com.lite_xl.LiteXL.desktop
Labels: Category: Resources

fix: change `StartupWMClass` in `.desktop` to match what we tell SDL (#2207)
  resources/linux/com.lite_xl.LiteXL.desktop
Labels: Category: Resources

Fix delete & rename commands for treeview
  data/plugins/treeview.lua
Labels: Category: Plugins

Make STDIN pipe synchronous
  src/api/process.c
Labels: Category: C Core

Make STDIN pipe synchronous
  src/api/process.c
Labels: Category: C Core

fix(dirmonitor): walk inotify events by their real record size
  src/api/dirmonitor/inotify.c
Labels: Category: C Core

fix(renderer): size the window_list memmove in bytes
  src/renderer.c
Labels: Category: C Core

fix(regex): harden the PCRE2 bindings against crashes and leaks
  src/api/regex.c
Labels: Category: C Core

perf(renderer): hoist pixel-format lookups out of the glyph blit loop
  src/renderer.c
Labels: Category: C Core

perf(rencache): skip commands that don't touch the dirty rect
  src/rencache.c
Labels: Category: C Core

perf(renderer): hoist horizontal glyph clipping out of the scanline loop
  src/renderer.c
Labels: Category: C Core

perf(renderer): track glyph atlas surfaces without SDL properties
  src/renderer.c
Labels: Category: C Core

fix(rencache): bound the dirty-cell grid to the window size
  src/rencache.c
Labels: Category: C Core

fix: harden allocation-failure and fd-exhaustion paths in the C bindings
  src/api/dirmonitor.c
  src/api/dirmonitor/inotify.c
  src/api/renwindow.c
  src/api/system.c
  src/renderer.c
Labels: Category: C Core

perf(renderer): O(1) text width for fixed-width fonts over ASCII
  src/renderer.c
Labels: Category: C Core

perf(core): resolve long-line column offsets without a per-character scan
  data/core/docview.lua
Labels: Category: Lua Core

perf(core): memoize get_col_x_offset per line
  data/core/docview.lua
Labels: Category: Lua Core

perf(core): don't hand a pathologically long line to the renderer whole
  data/core/docview.lua
Labels: Category: Lua Core

fix(regex): match against subjects containing invalid UTF-8
  src/api/regex.c
Labels: Category: C Core

fix(tokenizer): tokenize lines containing invalid UTF-8
  data/core/tokenizer.lua
  src/api/utf8.c
Labels: Category: Lua Core, Category: C Core

fix(tokenizer): warn instead of error on token-type count mismatch
  data/core/tokenizer.lua
Labels: Category: Lua Core

test(tokenizer): add a golden-token corpus regression gate
  test/tokenizer/.gitignore
  test/tokenizer/README.md
  test/tokenizer/corpus/edge_css.css
  test/tokenizer/corpus/edge_html.html
  test/tokenizer/corpus/edge_invalid_utf8.c
  test/tokenizer/corpus/edge_js.js
  test/tokenizer/corpus/edge_longline.c
  test/tokenizer/corpus/edge_nested_comments.lua
  test/tokenizer/corpus/edge_python.py
  test/tokenizer/corpus/edge_unterminated.c
  test/tokenizer/corpus/edge_xml.xml
  test/tokenizer/corpus/sample.c
  test/tokenizer/corpus/sample.lua
  test/tokenizer/corpus/sample.md
  test/tokenizer/corpus/sample_md_plugin.lua
  test/tokenizer/golden.txt
  test/tokenizer/run.lua
  test/tokenizer/run.sh
Labels: none

refactor(tokenizer): precompile syntax patterns once in syntax.add
  data/core/syntax.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

test(tokenizer): add a golden-token corpus regression gate
  test/tokenizer/.gitignore
  test/tokenizer/README.md
  test/tokenizer/corpus/edge_css.css
  test/tokenizer/corpus/edge_html.html
  test/tokenizer/corpus/edge_invalid_utf8.c
  test/tokenizer/corpus/edge_js.js
  test/tokenizer/corpus/edge_longline.c
  test/tokenizer/corpus/edge_nested_comments.lua
  test/tokenizer/corpus/edge_python.py
  test/tokenizer/corpus/edge_unterminated.c
  test/tokenizer/corpus/edge_xml.xml
  test/tokenizer/corpus/sample.c
  test/tokenizer/corpus/sample.lua
  test/tokenizer/corpus/sample.md
  test/tokenizer/corpus/sample_md_plugin.lua
  test/tokenizer/golden.txt
  test/tokenizer/run.lua
  test/tokenizer/run.sh
Labels: none

feat(utf8): expose the Lua-pattern matcher as an internal C API
  src/api/utf8.c
  src/api/utf8.h
Labels: Category: C Core
