Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

Fixed some minor issues.
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins

Fixed some minor issues.
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins

Renamed _byte to _char, as we're moving to UTF-8 selections, and copied functions from Doc into DocView directly in order to avoid overriding conflicts.
  data/core/doc/init.lua
  data/core/docview.lua
Labels: Category: Lua Core

Added in capability of drawing background on a token.
  data/core/docview.lua
Labels: Category: Lua Core

Renamed _byte to _char, as we're moving to UTF-8 selections, and copied functions from Doc into DocView directly in order to avoid overriding conflicts.
  data/core/doc/init.lua
  data/core/docview.lua
Labels: Category: Lua Core

Added in capability of drawing background on a token.
  data/core/docview.lua
Labels: Category: Lua Core

Moved some functionality for tokens out to common.
  data/core/common.lua
  data/core/docview.lua
  data/plugins/drawwhitespace.lua
  data/plugins/highlighter.lua
Labels: Category: Lua Core, Category: Plugins

Moved some functionality for tokens out to common.
  data/core/common.lua
  data/core/docview.lua
  data/plugins/drawwhitespace.lua
  data/plugins/highlighter.lua
Labels: Category: Lua Core, Category: Plugins

Moved accumulate back to docview.
  data/core/common.lua
  data/core/docview.lua
Labels: Category: Lua Core

Moved accumulate back to docview.
  data/core/common.lua
  data/core/docview.lua
Labels: Category: Lua Core

Sigh.
  data/core/docview.lua
Labels: Category: Lua Core

Sigh.
  data/core/docview.lua
Labels: Category: Lua Core

Allow for auto-determination of visibility.
  data/core/docview.lua
Labels: Category: Lua Core

Allow for auto-determination of visibility.
  data/core/docview.lua
Labels: Category: Lua Core

Fixed.
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins

Fixed.
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins

Removed unecessary visibility calculation.
  data/core/docview.lua
Labels: Category: Lua Core

Removed unecessary visibility calculation.
  data/core/docview.lua
Labels: Category: Lua Core

Slight modification.
  data/core/docview.lua
Labels: Category: Lua Core

Removed unecessary reference functions.
  data/core/commands/docview.lua
Labels: Category: Lua Core

permit fractional scroll wheel values
  src/api/system.c
Labels: Category: C Core

permit fractional scroll wheel values (#2181)
  src/api/system.c
Labels: Category: C Core

Fix wrong suggestion when creating file in treeview
  data/plugins/treeview.lua
Labels: Category: Plugins

Fix wrong suggestion when creating folder in treeview
  data/plugins/treeview.lua
Labels: Category: Plugins

fix(treeview): avoid crashing if creating a new file errors out
  data/plugins/treeview.lua
Labels: Category: Plugins

refactor(treeview): no need to write to a new file
  data/plugins/treeview.lua
Labels: Category: Plugins

fix(doc): don't modify `doc` with empty clipboard paste
  data/core/commands/doc.lua
  docs/api/system.lua
Labels: Category: Documentation, Category: Lua Core

Made restarts much smoother.
  data/core/init.lua
  data/core/node.lua
  data/core/rootview.lua
  data/core/statusview.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

Added in performance metrics.
  data/core/init.lua
  data/core/start.lua
Labels: Category: Lua Core

Fixed timeout in process:wait; comparaison was incorrect, and would generally lead to erroneous instantaneous returns.
  data/core/process.lua
Labels: Category: Lua Core

chore(ci): update macOS runners (#2177)
  .github/workflows/build.yml
Labels: Category: CI

Updated Freetype so that we no longer erroneously include a dynamic link to libbz2. (#2175)
  subprojects/freetype2.wrap
Labels: Category: Build System

Make it so context menu can be accessed via plugin.
  data/plugins/compatibility3.lua
Labels: Category: Plugins

Fixed a bug where if we passed a negative line in here, we got an error.
  data/core/docview.lua
Labels: Category: Lua Core

Fixed a bug where if we passed a negative line in here, we got an error.
  data/core/docview.lua
Labels: Category: Lua Core

Moving around the loading of modules, and deferring them until window creation
  data/core/init.lua
  data/core/start.lua
  data/plugins/compatibility3.lua
Labels: Category: Lua Core, Category: Plugins

Fix linewrapping.
  data/plugins/linewrapping.lua
Labels: Category: Plugins

Fix linewrapping.
  data/plugins/linewrapping.lua
Labels: Category: Plugins

Adds in a trust guard for projectt modules.
  data/core/commands/core.lua
  data/core/config.lua
  data/core/init.lua
  data/core/project.lua
Labels: Category: Lua Core

Merge error.
  data/core/keymap.lua
Labels: Category: Lua Core

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*
