Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

add a __tostring method to every object (#1534)
  data/core/commandview.lua
  data/core/contextmenu.lua
  data/core/doc/highlighter.lua
  data/core/doc/init.lua
  data/core/docview.lua
  data/core/emptyview.lua
  data/core/logview.lua
  data/core/nagview.lua
  data/core/node.lua
  data/core/rootview.lua
  data/core/scrollbar.lua
  data/core/statusview.lua
  data/core/titleview.lua
  data/core/view.lua
  data/plugins/projectsearch.lua
  data/plugins/toolbarview.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

Better wasm support again (#1779)
  resources/README.md
  resources/cross/unknown-wasm32.txt
  resources/shell.html
Labels: Category: Resources

renderer: defer bitmap rendering when possible (#1856)
  src/renderer.c
Labels: Category: C Core

system: fix ftruncate not available in Windows
  src/api/system.c
Labels: Category: C Core

system: fix ftruncate not returning immediately upon error
  src/api/system.c
Labels: Category: C Core

system: add labels of endif statements
  src/api/system.c
Labels: Category: C Core

system: use chsize instead of win32 functions
  src/api/system.c
Labels: Category: C Core

renderer: pass errors via SDL_SetError
  src/api/renderer.c
  src/main.c
  src/renderer.c
Labels: Category: C Core

renderer: pass errors via SDL_SetError (#1919)
  src/api/renderer.c
  src/main.c
  src/renderer.c
Labels: Category: C Core

move dependency resolving into source file (#1937)
  meson.build
  src/meson.build
Labels: Category: Meta, Category: Build System, Category: C Core

fix: use current char to determine `col` in `DocView:get_x_offset_col`
  data/core/docview.lua
Labels: Category: Lua Core

fix: use current char to determine `col` in `DocView:get_x_offset_col` (#1946)
  data/core/docview.lua
Labels: Category: Lua Core

ci: add postrelease workflow to update docs and release winget packages (#1983)
  .github/workflows/postrelease.yml
Labels: Category: CI

inno: update visual style to modern; support hidpi
  .gitignore
  scripts/innosetup/innosetup.iss.in
  scripts/innosetup/lite-xl@110x106.bmp
  scripts/innosetup/lite-xl@55x55.bmp
  scripts/innosetup/lite-xl@64x68.bmp
  scripts/innosetup/lite-xl@83x80.bmp
  scripts/innosetup/lite-xl@92x97.bmp
  scripts/innosetup/litexl-55px.bmp
  scripts/innosetup/wizard-modern-image.bmp
Labels: Category: Meta

scripts: actually use x64compatible in package-innosetup.sh
  scripts/package-innosetup.sh
Labels: none

inno: fix unsupported windows warning
  scripts/innosetup/innosetup.iss.in
Labels: none

inno: fix add to PATH and add banner images
  .gitignore
  scripts/innosetup/innosetup.iss.in
  scripts/innosetup/lite-xl-banner@164x314.bmp
  scripts/innosetup/lite-xl-banner@192x386.bmp
  scripts/innosetup/lite-xl-banner@246x459.bmp
  scripts/innosetup/lite-xl-banner@273x556.bmp
  scripts/innosetup/lite-xl-banner@328x604.bmp
Labels: Category: Meta

inno: fix arch specification and default to x64compatible
  scripts/innosetup/innosetup.iss.in
Labels: none

gitignore: add trailing newline
  .gitignore
Labels: Category: Meta

common: fix PLATFORM == Windows
  data/core/common.lua
Labels: Category: Lua Core

common: allow / and \ as PATHSEP on Windows when fuzzy matching files (#1992)
  data/core/common.lua
Labels: Category: Lua Core

renderer: use SDL_MapRGBA and SDL_GetRGBA
  src/renderer.c
Labels: Category: C Core

renderer: use correct pixel read for different endianess
  src/renderer.c
Labels: Category: C Core

renderer: correctly read pixel data from 8,16,24,32-bit pixel formats
  src/renderer.c
Labels: Category: C Core

renderer.c: use #if instead of if for checking endianess
  src/renderer.c
Labels: Category: C Core

fix: use correct charmap and glyphmap sizes (#1999)
  src/renderer.c
Labels: Category: C Core

language_cpp: add back digit separators (#2026)
  data/plugins/language_c.lua
  data/plugins/language_cpp.lua
Labels: Category: Plugins

syntax: warn against malformed patterns and disable them (#2029)
  data/core/syntax.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

Update InnoSetup files (#1988)
  .gitignore
  scripts/innosetup/innosetup.iss.in
  scripts/innosetup/lite-xl-banner@164x314.bmp
  scripts/innosetup/lite-xl-banner@192x386.bmp
  scripts/innosetup/lite-xl-banner@246x459.bmp
  scripts/innosetup/lite-xl-banner@273x556.bmp
  scripts/innosetup/lite-xl-banner@328x604.bmp
  scripts/innosetup/lite-xl@110x106.bmp
  scripts/innosetup/lite-xl@55x55.bmp
  scripts/innosetup/lite-xl@64x68.bmp
  scripts/innosetup/lite-xl@83x80.bmp
  scripts/innosetup/lite-xl@92x97.bmp
  scripts/innosetup/litexl-55px.bmp
  scripts/innosetup/wizard-modern-image.bmp
  scripts/package-innosetup.sh
Labels: Category: Meta

balance computed directory list, remove recursive function invocation
  data/core/project.lua
Labels: Category: Lua Core

Rework dirmonitors to be able to support multiple backends
  meson_options.txt
  src/api/dirmonitor.c
  src/api/dirmonitor/dirmonitor.h
  src/api/dirmonitor/dummy.c
  src/api/dirmonitor/fsevents.c
  src/api/dirmonitor/inodewatcher.cpp
  src/api/dirmonitor/inotify.c
  src/api/dirmonitor/kqueue.c
  src/api/dirmonitor/win32.c
  src/meson.build
Labels: Category: Meta, Category: Build System, Category: C Core

remove development leftover
  src/meson.build
Labels: Category: C Core

dirmonitor/win32: fix wrong return type
  src/api/dirmonitor/win32.c
Labels: Category: C Core

style(core.dirwatch): rename some variables
  data/core/dirwatch.lua
Labels: Category: Lua Core

docs(core.dirwatch): add documentation to core.dirwatch
  data/core/dirwatch.lua
Labels: Category: Lua Core

Made findfile update suggestions as more results come in.
  data/plugins/findfile.lua
Labels: Category: Plugins

To make the Guldo happy.
  data/plugins/findfile.lua
Labels: Category: Plugins

Ensures that we don't update a commandview we don't own.
  data/plugins/findfile.lua
Labels: Category: Plugins

Grumble.
  data/plugins/findfile.lua
Labels: Category: Plugins

Refined scroing, and made it so things don't jump around on empty string.
  data/plugins/findfile.lua
Labels: Category: Plugins

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*
