Repository lite-xl/lite-xl, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: CI, Category: Meta, Category: Build System, Category: Documentation, Category: Resources, Category: Themes, Category: Lua Core, Category: Fonts, Category: Plugins, Category: C Core, Category: Libraries

.github/labeler.yml:

"Category: CI":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

"Category: Meta":
- changed-files:
  - any-glob-to-any-file:
    - ./*
    - .github/*
    - .github/ISSUE_TEMPLATE/*
    - .github/PULL_REQUEST_TEMPLATE/*
    - .gitignore

"Category: Build System":
- changed-files:
  - any-glob-to-any-file:
    - meson.build
    - meson_options.txt
    - subprojects/*

"Category: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

"Category: Resources":
- changed-files:
  - any-glob-to-any-file:
    - resources/**/*

"Category: Themes":
- changed-files:
  - any-glob-to-any-file:
    - data/colors/*

"Category: Lua Core":
- changed-files:
  - any-glob-to-any-file:
    - data/core/**/*

"Category: Fonts":
- changed-files:
  - any-glob-to-any-file:
    - data/fonts/*

"Category: Plugins":
- changed-files:
  - any-glob-to-any-file:
    - data/plugins/*

"Category: C Core":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*

"Category: Libraries":
- changed-files:
  - any-glob-to-any-file:
    - lib/**/*

fix: don't go down the directory tree in `system.list_dir`
  src/api/system.c
Labels: Category: C Core

feat: use `lua_rawlen` instead of `luaL_len` in `list_dir` callback
  src/api/system.c
Labels: Category: C Core

refactor: remove unneeded `lua_pop` in `list_dir`
  src/api/system.c
Labels: Category: C Core

core: use SDL3 application callbacks
  data/core/init.lua
  docs/api/system.lua
  src/api/system.c
  src/main.c
Labels: Category: Documentation, Category: Lua Core, Category: C Core

fix: don't go down the directory tree in `system.list_dir` (#2059)
  src/api/system.c
Labels: Category: C Core

ci: install cmake
  .github/workflows/build.yml
Labels: Category: CI

build.sh: support building SDL3 with cmake
  scripts/build.sh
Labels: none

ci: make msvc use bash to build again
  .github/workflows/build.yml
Labels: Category: CI

ci: use get-command to get link.exe
  .github/workflows/build.yml
Labels: Category: CI

build.sh: revert back to CMAKE_INSTALL_PREFIX
  scripts/build.sh
Labels: none

ci: hardcode CMAKE_INSTALL_LIBDIR
  scripts/build.sh
Labels: none

ci: set cc_ld to not step on cmake
  .github/workflows/build.yml
Labels: Category: CI

build.sh: less messing with cwd
  scripts/build.sh
Labels: none

build.sh: fix prefix once and for all
  scripts/build.sh
Labels: none

ci: skip installing cmake on macos to avoid warnings
  .github/workflows/build.yml
Labels: Category: CI

build.sh: pass MACOSX_DEPLOYMENT_TARGET to cmake
  scripts/build.sh
Labels: none

build.sh: remove extra .. in configure command
  scripts/build.sh
Labels: none

build.sh: remove unused variable
  scripts/build.sh
Labels: none

Because we've bumped mod-version, we should change the bundled version of welcome and plugin_manager. (#2042)
  data/meson.build
Labels: none

feat: add support for tab stops (#1945)
  data/core/docview.lua
  src/api/renderer.c
  src/rencache.c
  src/rencache.h
  src/renderer.c
  src/renderer.h
Labels: Category: Lua Core, Category: C Core

Update CSS plugin to support more units (#2010)
  data/plugins/language_css.lua
Labels: Category: Plugins

Added in stdlib as per #2014. (#2017)
  src/api/system.c
  src/rencache.c
  src/renderer.c
Labels: Category: C Core

common.sh: support OSTYPE == cygwin for MSYS2 (#2028)
  scripts/common.sh
Labels: none

add a __tostring method to every object (#1534)
  data/core/commandview.lua
  data/core/contextmenu.lua
  data/core/doc/highlighter.lua
  data/core/doc/init.lua
  data/core/docview.lua
  data/core/emptyview.lua
  data/core/logview.lua
  data/core/nagview.lua
  data/core/node.lua
  data/core/rootview.lua
  data/core/scrollbar.lua
  data/core/statusview.lua
  data/core/titleview.lua
  data/core/view.lua
  data/plugins/projectsearch.lua
  data/plugins/toolbarview.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

Better wasm support again (#1779)
  resources/README.md
  resources/cross/unknown-wasm32.txt
  resources/shell.html
Labels: Category: Resources

renderer: defer bitmap rendering when possible (#1856)
  src/renderer.c
Labels: Category: C Core

renderer: pass errors via SDL_SetError (#1919)
  src/api/renderer.c
  src/main.c
  src/renderer.c
  src/renderer.h
Labels: Category: C Core

move dependency resolving into source file (#1937)
  meson.build
  src/meson.build
Labels: Category: Meta, Category: Build System, Category: C Core

ci: add postrelease workflow to update docs and release winget packages (#1983)
  .github/workflows/postrelease.yml
Labels: Category: CI

fix: use current char to determine `col` in `DocView:get_x_offset_col` (#1946)
  data/core/docview.lua
Labels: Category: Lua Core

fix: use correct charmap and glyphmap sizes (#1999)
  src/renderer.c
Labels: Category: C Core

common: allow / and \ as PATHSEP on Windows when fuzzy matching files (#1992)
  data/core/common.lua
Labels: Category: Lua Core

Update InnoSetup files (#1988)
  .gitignore
  scripts/innosetup/innosetup.iss.in
  scripts/innosetup/innosetup.sh
  scripts/innosetup/lite-xl-banner@164x314.bmp
  scripts/innosetup/lite-xl-banner@192x386.bmp
  scripts/innosetup/lite-xl-banner@246x459.bmp
  scripts/innosetup/lite-xl-banner@273x556.bmp
  scripts/innosetup/lite-xl-banner@328x604.bmp
  scripts/innosetup/lite-xl@110x106.bmp
  scripts/innosetup/lite-xl@55x55.bmp
  scripts/innosetup/lite-xl@64x68.bmp
  scripts/innosetup/lite-xl@83x80.bmp
  scripts/innosetup/lite-xl@92x97.bmp
  scripts/innosetup/litexl-55px.bmp
  scripts/innosetup/wizard-modern-image.bmp
Labels: Category: Meta

syntax: warn against malformed patterns and disable them (#2029)
  data/core/syntax.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

build.sh: add LTO support
  scripts/build.sh
Labels: none

ci: enable LTO for CI builds
  .github/workflows/release.yml
Labels: Category: CI

language_cpp: add back digit separators (#2026)
  data/plugins/language_c.lua
  data/plugins/language_cpp.lua
Labels: Category: Plugins

SDL3 port (#1756)
  .github/workflows/build.yml
  .github/workflows/release.yml
  meson.build
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
  src/api/process.c
  src/api/system.c
  src/main.c
  src/meson.build
  src/rencache.c
  src/renderer.c
  src/renderer.h
  src/renwindow.c
  src/renwindow.h
  subprojects/sdl2.wrap
Labels: Category: CI, Category: Meta, Category: Build System, Category: C Core

fix: don't go down the directory tree in `system.list_dir` (#2059)
  src/api/system.c
Labels: Category: C Core

build.sh: allow SIMD runtime detection
  scripts/build.sh
Labels: none
