Repository lite-xl/lite-xl, pull requests merged in 2021-12, with the labels that each got.

#712 Improved Markdown syntax highlighting
  data/plugins/language_md.lua
Labels: Category: Plugins

#705 Check the entire path in `TreeView` predicate
  data/plugins/treeview.lua
Labels: Category: Plugins

#657 fixing native plugin API
  resources/lite_xl_plugin_api.h
  scripts/README.md
  scripts/generate_header.sh
  src/api/system.c
Labels: Category: Resources, Category: C Core

#728 Keyboard layout independent shortcuts
  src/api/system.c
Labels: Category: C Core

#535 Replace Reproc
  meson.build
  src/api/api.h
  src/api/process.c
Labels: Category: Build System, Category: C Core

#725 Consume unmatched character correctly
  data/core/tokenizer.lua
Labels: Category: Lua Core

#715 Split `Node` and `EmptyView` from `RootView`
  data/core/emptyview.lua
  data/core/node.lua
  data/core/rootview.lua
Labels: Category: Lua Core

#729 Fix TreeView and StatusView clicking
  data/core/statusview.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

#708 Allow `TreeView` item icon and text styling
  data/plugins/treeview.lua
Labels: Category: Plugins

#739 Takes kivutar's changes into account, cleaning things up slightly.
  src/api/renderer.c
  src/api/system.c
  src/bundle_open.m
  src/rencache.c
Labels: Category: C Core

#738 Added in restart keymapping.
  data/core/keymap-macos.lua
  data/core/keymap.lua
Labels: Category: Lua Core

#745 Correct definition of the pressed key for different layouts and languages
  src/api/system.c
Labels: Category: C Core

#752 Support rgba hex format
  data/core/common.lua
Labels: Category: Lua Core

#749 Add predefined colors to style.lua: good, warn, error, modified
  data/core/style.lua
Labels: Category: Lua Core

#713 Copy/cut whole line if selection empty
  data/core/commands/doc.lua
  data/core/doc/init.lua
  data/core/init.lua
Labels: Category: Lua Core

#760 Restore External Paste to Non-Multiline Paste
  data/core/commands/doc.lua
Labels: Category: Lua Core

#759 Support for remaped special keys(Fix #757)
  src/api/system.c
Labels: Category: Lua Core, Category: C Core

#764 Add CFBundleIdentifier to Info.plist.in
  resources/macos/Info.plist.in
Labels: Category: Resources

#763 Support portable user config(Fix #762)
  data/core/start.lua
Labels: Category: Lua Core

#778 Meson: retain compatibility for very old versions
  meson.build
Labels: Category: Build System

#769 fix FontGroup __gc method
  src/api/renderer.c
Labels: Category: C Core

#765 Better "Remove changed files/dirs from `TreeView` cache"
  data/core/init.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

#753 Add for config.highlight_current_line new variant: no_selection
  data/core/config.lua
  data/core/docview.lua
Labels: Category: Lua Core

#782 [Fix] Pointer Bug in ToolBar plugin
  data/plugins/toolbarview.lua
Labels: Category: Plugins
