Repository lite-xl/lite-xl, pull requests merged in 2021-11, with the labels that each got.

#659 Made plugin load order deterministic.
  data/core/init.lua
Labels: Category: Lua Core

#664 Highlight any line that contains a caret
  data/core/docview.lua
Labels: Category: Lua Core

#516 add keymap.unbind(), update contextmenu to use keymap.get_binding()
  data/core/contextmenu.lua
  data/core/keymap.lua
Labels: Category: Lua Core

#589 Added in clicks to keymap.
  data/core/command.lua
  data/core/commands/doc.lua
  data/core/commands/root.lua
  data/core/config.lua
  data/core/docview.lua
  data/core/init.lua
  data/core/keymap-macos.lua
  data/core/keymap.lua
  data/core/rootview.lua
  data/core/view.lua
  data/plugins/projectsearch.lua
  data/plugins/scale.lua
  src/api/system.c
Labels: Category: Lua Core, Category: Plugins, Category: C Core

#435 replace unpack() with table.unpack()
  data/core/commands/findreplace.lua
  data/core/doc/init.lua
  data/core/start.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

#330 remove unecessary string.rep in lineguide
  data/plugins/lineguide.lua
Labels: Category: Plugins

#680 Fixed regression in mouse selection behavior
  data/core/commands/doc.lua
  data/core/docview.lua
Labels: Category: Lua Core

#684 Allow for color overrides in the tree view
  data/plugins/treeview.lua
Labels: Category: Plugins

#673 Add BigInt literal and numeric separators to js syntax highlighter
  data/plugins/language_js.lua
Labels: Category: Plugins

#688 Add Support for `none` Antialiasing
  src/api/renderer.c
  src/renderer.c
  src/renderer.h
Labels: Category: C Core

#692 Added in the ability to specify a color for whitespace.
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins

#696 Added an exclusion for lineguide in the commandview.
  data/plugins/lineguide.lua
Labels: Category: Plugins

#697 Remove changed files/dirs from `TreeView` cache
  data/core/init.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

#695 Added in additional environment variables to scale off of.
  data/core/start.lua
Labels: Category: Lua Core

#701 Removed docs for *_subpixel functions which no longer exist
  docs/api/renderer.lua
Labels: Category: Documentation

#694 Added in cut, copy and paste to the context menu, amongst other things.
  data/core/command.lua
  data/core/commands/doc.lua
  data/core/contextmenu.lua
  data/core/doc/init.lua
  data/core/rootview.lua
  data/plugins/contextmenu.lua
Labels: Category: Lua Core, Category: Plugins

#693 Added in check to make sure you can use a scrollbar on a split.
  data/core/rootview.lua
Labels: Category: Lua Core

#682 Refactor how to get the indentation of a `Doc`
  data/core/commands/doc.lua
  data/core/doc/init.lua
  data/core/docview.lua
  data/core/statusview.lua
  data/plugins/detectindent.lua
Labels: Category: Lua Core, Category: Plugins

#702 Used basenames for ignore_files rather than full paths.
  data/core/init.lua
Labels: Category: Lua Core
