Repository lite-xl/lite-xl, pull requests merged in 2022-12, with the labels that each got.

#1214 meson: updated all subproject wraps
  subprojects/freetype2.wrap
  subprojects/pcre2.wrap
  subprojects/sdl2.wrap
Labels: Category: Build System

#1219 Fix native plugins not reloading upon core:restart
  src/api/api.h
  src/api/system.c
Labels: Category: C Core

#1220 Improve `regex.gsub` performance
  data/core/regex.lua
Labels: Category: Lua Core

#1224 feat: encode home in statusview file path
  data/core/statusview.lua
Labels: Category: Lua Core

#1223 autocomplete: wrap the autocomplete results around
  data/plugins/autocomplete.lua
Labels: Category: Plugins

#1230 feat: alert user via nagview if file cannot be saved
  data/core/commands/doc.lua
Labels: Category: Lua Core

#1235 plugins projectsearch: expose its functionality
  data/plugins/projectsearch.lua
Labels: Category: Plugins

#1228 Make divider in contextmenu less aggressive
  data/core/contextmenu.lua
Labels: Category: Lua Core

#1233 core: ported regex.gsub to faster native version
  data/core/commands/findreplace.lua
  data/core/regex.lua
  docs/api/regex.lua
  src/api/regex.c
Labels: Category: Lua Core, Category: C Core, Category: Documentation

#1251 `toolbarview`: Remove tooltip when hidden
  data/plugins/toolbarview.lua
Labels: Category: Plugins

#1243 Fix some syntax errors
  src/main.c
Labels: Category: C Core

#1238 trimwhitespace: expose functionality and extra features
  data/plugins/trimwhitespace.lua
Labels: Category: Plugins

#1249 Simplify SDL message boxes
  src/api/system.c
Labels: Category: C Core

#1245 add touch events
  docs/api/system.lua
  src/api/system.c
Labels: Category: C Core, Category: Documentation

#1170 Improve IME location updates
  data/core/docview.lua
  data/core/ime.lua
  data/core/keymap.lua
Labels: Category: Lua Core

#1231 fix: move tab scroll buttons to remove spacing before 1st tab
  data/core/node.lua
Labels: Category: Lua Core

#1253 `detectindent`: Limit subsyntax depth
  data/plugins/detectindent.lua
Labels: Category: Plugins

#1256 Allow `TreeView` file operation commands when focused
  data/plugins/treeview.lua
Labels: Category: Plugins

#1262 Use Lua string length instead of relying on `strlen`
  src/api/renderer.c
  src/rencache.c
  src/rencache.h
  src/renderer.c
  src/renderer.h
Labels: Category: C Core

#1271 dirmonitor: fix high cpu usage, fixes #1237
  src/api/dirmonitor/fsevents.c
  src/api/dirmonitor/kqueue.c
Labels: Category: C Core

#1270 Add example settings to _overwrite_ an existing key binding
  data/core/init.lua
Labels: Category: Lua Core

#1272 Fix two typos in data/init.lua
  data/core/init.lua
Labels: Category: Lua Core

#1246 Fix popping subsyntaxes that end consecutively
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1274 dirmonitor: use pipes on fsevents
  src/api/dirmonitor/fsevents.c
Labels: Category: C Core

#1188 Fix userdata APIs for Lua 5.4 in native plugin interface
  resources/lite_xl_plugin_api.h
  src/api/system.c
Labels: Category: Resources, Category: C Core

#1268 contextmenu: adjust y positioning if less than zero
  data/core/contextmenu.lua
Labels: Category: Lua Core

#1284 Bump version to 2.1.1
  .github/workflows/release.yml
  changelog.md
  meson.build
  resources/linux/org.lite_xl.lite_xl.appdata.xml
  subprojects/pcre2.wrap
  subprojects/sdl2.wrap
Labels: Category: Build System, Category: Resources, Category: CI

#1289 Minor typos in init text
  data/core/init.lua
Labels: Category: Lua Core
