Repository lite-xl/lite-xl, pull requests merged in 2022-10, with the labels that each got.

#1133 meson: updated lua wrap to v5.4.4
  subprojects/lua.wrap
Labels: Category: Build System

#1134 meson: fallback onto the C compiler when Lua could not be found
  meson.build
Labels: Category: Build System

#1135 Add i386 architecture detection, add FreeBSD to platform detection
  src/main.c
Labels: Category: C Core

#1136 Fixing minor bug relating to TreeView's cache.
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

#1137 Fix process api detach bug
  src/api/process.c
Labels: Category: C Core

#1139 Added in an additional ENVVAR for setting USERDIR, and also changed / to PATHSEP.
  data/core/start.lua
Labels: Category: Lua Core

#1140 Use relative mouse position directly for drop event
  src/api/system.c
Labels: Category: C Core

#1132 Fixed process layer argument quoting; allows for strings with spaces.
  src/api/process.c
Labels: Category: C Core

#1121 Changed workspace to accommodate other views.
  data/plugins/workspace.lua
Labels: Category: Plugins

#1143 draw lite-xl icon in TitleView
  data/core/titleview.lua
  data/fonts/icons.ttf
  scripts/fontello-config.json
Labels: Category: Lua Core, Category: Fonts

#1145 add parameter validation to checkcolor and f_font_group
  src/api/renderer.c
Labels: Category: C Core

#1141 Add fsevents backend to dirmonitor
  data/core/dirwatch.lua
  meson_options.txt
  src/api/dirmonitor.c
  src/api/dirmonitor/dummy.c
  src/api/dirmonitor/fsevents.c
  src/api/dirmonitor/inotify.c
  src/api/dirmonitor/kqueue.c
  src/api/dirmonitor/win32.c
  src/meson.build
Labels: Category: Build System, Category: Lua Core, Category: C Core

#1142 dirwatch: exit coroutine if project not open anymore
  data/core/init.lua
Labels: Category: Lua Core

#1146 Add on_rescale event to View
  data/core/titleview.lua
  data/core/view.lua
Labels: Category: Lua Core

#1150 dirmonitor: added missing mutex initialization
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
Labels: Category: C Core

#919 Use the syntax with the longest match
  data/core/syntax.lua
Labels: Category: Lua Core

#1153 allow defining the arch tuple via meson
  meson.build
  meson_options.txt
Labels: Category: Build System

#1155 dirmonitor: add watch to subdirs on file limit mode
  data/core/init.lua
Labels: Category: Lua Core

#1156 font reference counting when using renderer.draw_text
  src/api/renderer.c
Labels: Category: C Core

#991 Add IME support
  data/core/doc/init.lua
  data/core/docview.lua
  data/core/ime.lua
  data/core/init.lua
  data/core/keymap.lua
  data/core/rootview.lua
  data/core/view.lua
  src/api/system.c
  src/main.c
Labels: Category: Lua Core, Category: C Core

#1124 Refactor scrollbar into its own file
  data/core/commands/root.lua
  data/core/commandview.lua
  data/core/docview.lua
  data/core/keymap-macos.lua
  data/core/keymap.lua
  data/core/scrollbar.lua
  data/core/statusview.lua
  data/core/view.lua
  data/plugins/linewrapping.lua
  data/plugins/treeview.lua
  src/api/system.c
Labels: Category: Lua Core, Category: Plugins, Category: C Core

#1160 make the default core.ignore_files more specific
  data/core/config.lua
  data/core/init.lua
Labels: Category: Lua Core

#1152 Fixed the common idiom of setting a plugin to true.
  data/core/config.lua
Labels: Category: Lua Core

#1167 Do not render newline char on DocView
  data/core/docview.lua
  data/plugins/drawwhitespace.lua
Labels: Category: Lua Core, Category: Plugins

#1168 core syntax: strip the path from filename on syntax.get
  data/core/syntax.lua
Labels: Category: Lua Core

#1179 ci release: add macos arm64 support
  .github/workflows/release.yml
  resources/macos/Info.plist.in
  resources/macos/macos_arm64.conf
  scripts/build.sh
  scripts/common.sh
Labels: Category: Resources, Category: CI
