Repository lite-xl/lite-xl, pull requests merged in 2022-09, with the labels that each got.

#1105 updated sdl2 wrap to 2.24
  meson.build
  subprojects/sdl2.wrap
Labels: Category: Build System

#1108 Strictly limit find/replace commands to `core.docview`
  data/core/commands/findreplace.lua
Labels: Category: Lua Core

#1110 Added in simple directory search to treeview.
  data/plugins/projectsearch.lua
  data/plugins/treeview.lua
Labels: Category: Plugins

#1115 plugin scale: added option to set default scale
  data/plugins/scale.lua
Labels: Category: Plugins

#1117 contextmenu: resize on scale changes
  data/core/contextmenu.lua
Labels: Category: Lua Core

#1111 Added in native modules suffixes.
  data/core/start.lua
  src/main.c
Labels: Category: Lua Core, Category: C Core

#1122 Update unidata to version 15.0
  src/unidata.h
Labels: Category: C Core

#1125 api: expose api_load_libs to native plugins
  src/api/system.c
Labels: Category: C Core

#1013 Added Release Workflow and Fixed some build script issues
  .github/workflows/build.yml
  .github/workflows/release.yml
  LICENSE
  build-packages.sh
  scripts/appimage.sh
  scripts/build.sh
  scripts/common.sh
  scripts/innosetup/innosetup.iss.in
  scripts/innosetup/innosetup.sh
  scripts/install-dependencies.sh
  scripts/package.sh
Labels: Category: Build System, Category: CI

#1126 Added in ability to have `init.so` as a require for cpath.
  data/core/start.lua
Labels: Category: Lua Core

#1129 language_md: don't require space at end on '_', '__', '___'
  data/plugins/language_md.lua
Labels: Category: Plugins
