Repository lite-xl/lite-xl, pull requests merged in 2022-06, with the labels that each got.

#908 Improve `drawwhitespace` plugin
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins

#1015 plugin drawwhitespace: added config spec
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins

#1017 style: move default colors to its own style file
  data/colors/default.lua
  data/core/init.lua
  data/core/style.lua
Labels: Category: Lua Core, Category: Themes

#1018 plugin linewrapping: added priority
  data/plugins/linewrapping.lua
Labels: Category: Plugins

#1010 `TreeView` improvements for multi-project
  data/core/common.lua
  data/core/init.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

#1014 Add `text`, `select_text` and `show_suggestions` options to `CommandView`
  data/core/commands/core.lua
  data/core/commands/doc.lua
  data/core/commands/findreplace.lua
  data/core/commandview.lua
  data/plugins/projectsearch.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

#1021 Make `common.merge` work with invalid arguments
  data/core/common.lua
Labels: Category: Lua Core

#1022 Open `LogView` on user/project module reload error
  data/core/init.lua
Labels: Category: Lua Core

#1032 load space metrics only when creating font
  src/renderer.c
Labels: Category: C Core

#1029 `language_md`: Add math delimiters
  data/plugins/language_md.lua
Labels: Category: Plugins

#1039 fix memory leak and wrong check in font_retrieve
  src/api/renderer.c
Labels: Category: C Core

#1033 Convert more byte offsets to utf-8 pos in regex tokenizer
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1034 Check if "open" pattern is escaped
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1030 `drawwhitespace`: Cache whitespace location
  data/core/doc/highlighter.lua
  data/plugins/drawwhitespace.lua
Labels: Category: Lua Core, Category: Plugins

#1038 run GC between scale to prevent ram from exploding
  data/plugins/scale.lua
Labels: Category: Plugins

#1042 make system.* functions support UTF8 filenames
  src/api/system.c
  src/utfconv.h
Labels: Category: C Core

#1048 Add .cjs and .mjs for js syntax highlighting
  data/plugins/language_js.lua
Labels: Category: Plugins

#1047 CommandView: improve performance by only drawing visible
  data/core/commandview.lua
Labels: Category: Lua Core

#1054 treeview: restore ability to disable toolbarview
  data/plugins/treeview.lua
Labels: Category: Plugins

#1040 Add more tokenizer errors/warnings
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1043 language_html: Improve subsyntax highlighting
  data/plugins/language_html.lua
Labels: Category: Plugins

#1056 Improve `lineguide` plugin
  data/core/config.lua
  data/plugins/lineguide.lua
Labels: Category: Lua Core, Category: Plugins

#1057 renderer fonts: additions and improvements
  data/plugins/language_md.lua
  data/plugins/scale.lua
  docs/api/renderer.lua
  src/api/renderer.c
  src/renderer.c
  src/renderer.h
Labels: Category: Plugins, Category: C Core, Category: Documentation
