Repository lite-xl/lite-xl, pull requests merged in 2022-08, with the labels that each got.

#1085 Clear default Lua `require` search path
  data/core/start.lua
Labels: Category: Lua Core

#1088 Steps to generalize toolbar, treeview and limit cursor splitting to only where it's relevant.
  data/core/commands/doc.lua
  data/core/statusview.lua
  data/plugins/toolbarview.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

#1101 language_python: add syntax support for async/await
  data/plugins/language_python.lua
Labels: Category: Plugins

#1098 Allow command predicates to manage parameters, allow overwriting commands
  data/core/command.lua
  data/core/commands/command.lua
  data/core/commands/dialog.lua
  data/core/commands/doc.lua
  data/core/commands/root.lua
  data/plugins/autocomplete.lua
  data/plugins/contextmenu.lua
  data/plugins/detectindent.lua
  data/plugins/quote.lua
  data/plugins/reflow.lua
  data/plugins/tabularize.lua
  data/plugins/treeview.lua
  data/plugins/trimwhitespace.lua
Labels: Category: Lua Core, Category: Plugins

#1100 Remove dot slash from suggested paths in `common.path_suggest`
  data/core/common.lua
Labels: Category: Lua Core

#1087 Added a smoothing and strikethrough option to font loading.
  .gitignore
  data/core/init.lua
  docs/api/renderer.lua
  src/api/renderer.c
  src/renderer.c
  src/renderer.h
Labels: Category: Lua Core, Category: C Core, Category: Documentation, Category: Meta
