Repository lite-xl/lite-xl, pull requests merged in 2022-05, with the labels that each got.

#966 Added plugin load-time log.
  data/core/init.lua
Labels: Category: Lua Core

#971 core: expose rescan_project_directories and configure_borderless_window
  data/core/init.lua
Labels: Category: Lua Core

#972 Add pretty printing to `common.serialize`
  data/core/common.lua
Labels: Category: Lua Core

#961 Manage return values from "replacer" function in `Doc:replace`
  data/core/doc/init.lua
Labels: Category: Lua Core

#986 Add utf8 support on doc lower and upper commands
  data/core/commands/doc.lua
Labels: Category: Lua Core

#988 docs: added font.group to renderer and other adjustments
  docs/api/renderer.lua
Labels: Category: Documentation

#942 Autoreload Nagview
  data/core/commands/doc.lua
  data/core/dirwatch.lua
  data/core/doc/init.lua
  data/plugins/autoreload.lua
  src/api/dirmonitor/inotify.c
Labels: Category: Lua Core, Category: Plugins, Category: C Core

#979 meson: install docs/api to datadir for lsp support
  meson.build
Labels: Category: Build System

#982 keymap: changes and docs
  data/core/keymap.lua
Labels: Category: Lua Core

#984 tokenizer: fix next utf8 char retrieval bug
  data/core/tokenizer.lua
Labels: Category: Lua Core

#987 object: made is() stricter and added extends()
  data/core/command.lua
  data/core/contextmenu.lua
  data/core/object.lua
  data/core/statusview.lua
Labels: Category: Lua Core

#990 command predicates: added support for strict matching
  data/core/command.lua
  data/core/object.lua
Labels: Category: Lua Core

#994 Improvements to borderless mode on Windows
  src/main.c
Labels: Category: C Core

#1002 Made moving to a line beyond the end of a document move the caret col…
  data/core/docview.lua
Labels: Category: Lua Core

#1003 Added suggestion wrapping for CommandView
  data/core/commands/core.lua
  data/core/commandview.lua
  data/plugins/lineguide.lua
Labels: Category: Lua Core, Category: Plugins

#997 meson: fix not obeyed forcefallback for lua
  meson.build
Labels: Category: Build System, Category: C Core

#995 plugins: added settings gui support
  data/plugins/autocomplete.lua
  data/plugins/autoreload.lua
  data/plugins/linewrapping.lua
  data/plugins/scale.lua
  data/plugins/treeview.lua
Labels: Category: Plugins

#980 plugins: add load priority support with '--priority:###'
  data/core/init.lua
Labels: Category: Lua Core

#1004 Add options table to `CommandView:enter`
  data/core/commands/core.lua
  data/core/commands/doc.lua
  data/core/commands/files.lua
  data/core/commands/findreplace.lua
  data/core/commands/statusbar.lua
  data/core/commandview.lua
  data/core/docview.lua
  data/plugins/detectindent.lua
  data/plugins/projectsearch.lua
  data/plugins/tabularize.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

#1005 Add `warn` log level and backtraces
  data/core/init.lua
  data/core/style.lua
Labels: Category: Lua Core
