Repository lite-xl/lite-xl, pull requests merged in 2022-03, with the labels that each got.

#858 Use epsilon to compare values in `View:move_towards`
  data/core/view.lua
Labels: Category: Lua Core

#860 Allow syntax patterns to match with the beginning of the line
  data/core/tokenizer.lua
  src/api/regex.c
Labels: Category: Lua Core, Category: C Core

#859 Add git commit on devel builds
  data/core/emptyview.lua
  meson.build
Labels: Category: Build System, Category: Lua Core

#862 language_md: improvements consolidating #814 and #840
  data/plugins/language_md.lua
Labels: Category: Plugins

#863 plugin scale: replace non existing font.set_size with font.copy
  data/plugins/scale.lua
Labels: Category: Plugins

#746 Fix Project Scanning
  README.md
  data/core/commands/core.lua
  data/core/dirwatch.lua
  data/core/init.lua
  data/plugins/treeview.lua
  lib/dmon/dmon.h
  lib/dmon/dmon_extra.h
  lib/dmon/meson.build
  licenses/licenses.md
  meson.build
  resources/notes-dmon-integration.md
  src/api/api.c
  src/api/api.h
  src/api/dirmonitor.c
  src/api/system.c
  src/dirmonitor.c
  src/dirmonitor.h
  src/main.c
  src/meson.build
Labels: Category: Build System, Category: Resources, Category: Lua Core, Category: Plugins, Category: C Core, Category: Libraries

#867 Load project module on startup
  data/core/init.lua
Labels: Category: Lua Core

#869 Initialization: load core views before user plugins
  data/core/init.lua
Labels: Category: Lua Core

#871 Always check if the beginning of the text needs to be clipped
  src/renderer.c
Labels: Category: C Core

#870 plugin treeview: skip rootview events if not visible.
  data/plugins/treeview.lua
Labels: Category: Plugins

#872 Fixed some issues with inotify and multiple events at the same time.
  data/core/dirwatch.lua
  data/core/init.lua
  src/api/dirmonitor.c
Labels: Category: Lua Core, Category: C Core

#873 Fix config overwritten on user/project modules save
  data/core/init.lua
Labels: Category: Lua Core

#876 nagview: support vscroll when message is too long
  data/core/nagview.lua
Labels: Category: Lua Core

#877 StatusView: added ability to hide and commands
  data/core/command.lua
  data/core/commands/statusbar.lua
  data/core/statusview.lua
Labels: Category: Lua Core

#879 config: added skip_plugins_version
  data/core/config.lua
  data/core/init.lua
Labels: Category: Lua Core

#875 Languages c and cpp improvements
  data/plugins/language_c.lua
  data/plugins/language_cpp.lua
Labels: Category: Plugins

#864 language_md: removed scale adjustment code
  data/plugins/language_md.lua
Labels: Category: Plugins

#883 plugin detectident: fixes and improvements
  data/plugins/detectindent.lua
Labels: Category: Plugins

#886 Fixed a bunch of problems relating to multicursor.
  data/core/commands/doc.lua
  data/core/doc/init.lua
  data/core/docview.lua
Labels: Category: Lua Core

#770 add option for treeview initial size
  data/plugins/treeview.lua
Labels: Category: Plugins

#755 rootview.lua: Refactor Node:draw_tab
  data/core/node.lua
  data/core/rootview.lua
Labels: Category: Lua Core

#888 Make `treeview:collapse` select parent if current item can't collapse
  data/plugins/treeview.lua
Labels: Category: Plugins

#889 Move cursor to the beginning/end of its selection
  data/core/commands/doc.lua
Labels: Category: Lua Core

#890 Fix `TreeView` scroll via scrollbar
  data/plugins/treeview.lua
Labels: Category: Plugins

#894 Fixed anonymous syntaxes.
  data/plugins/detectindent.lua
Labels: Category: Plugins

#636 Soft Line Wrapping
  data/core/commands/doc.lua
  data/core/commandview.lua
  data/core/docview.lua
  data/plugins/linewrapping.lua
Labels: Category: Lua Core, Category: Plugins

#896 Boost in tokenizer performance with 3 liner
  data/core/syntax.lua
Labels: Category: Lua Core

#900 Add minimum version to lua fallback dependency to avoid confusion
  meson.build
Labels: Category: Build System

#905 language_md: parenthesis support to numbered bullets
  data/plugins/language_md.lua
Labels: Category: Plugins

#904 syntax: fix conflicts introduced with #896
  data/core/syntax.lua
Labels: Category: Lua Core

#895 language_c/cpp: fixes and improvements
  data/plugins/language_c.lua
  data/plugins/language_cpp.lua
Labels: Category: Plugins

#906 core: fixes and changes to temp files
  data/core/init.lua
Labels: Category: Lua Core

#907 syntax: remove pattern re-ordering on optimization
  data/core/syntax.lua
  data/plugins/language_md.lua
Labels: Category: Lua Core, Category: Plugins
