Repository lite-xl/lite-xl, pull requests merged in 2022-01, with the labels that each got.

#784 add Libraries label
  .github/labeler.yml
Labels: Category: Meta

#781 Migrate to Lua 5.4
  .gitignore
  data/core/bit.lua
  data/core/commands/findreplace.lua
  data/core/common.lua
  data/core/statusview.lua
  data/core/tokenizer.lua
  data/plugins/projectsearch.lua
  meson.build
  src/api/process.c
  src/api/regex.c
  src/api/system.c
  subprojects/lua.wrap
Labels: Category: Build System, Category: Lua Core, Category: Plugins, Category: C Core, Category: Meta

#798 Add fallbacks to all common dependencies
  .gitignore
  meson.build
  scripts/install-dependencies.sh
  src/api/system.c
  subprojects/freetype2.wrap
  subprojects/lua.wrap
  subprojects/pcre2.wrap
  subprojects/sdl2.wrap
Labels: Category: Build System, Category: C Core, Category: Meta

#799 Improve bit32 polyfill
  data/core/bit.lua
  data/core/start.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

#771 add toggle-block-comment
  data/core/commands/doc.lua
  data/core/keymap.lua
  data/plugins/language_c.lua
  data/plugins/language_cpp.lua
  data/plugins/language_css.lua
  data/plugins/language_html.lua
  data/plugins/language_js.lua
  data/plugins/language_lua.lua
  data/plugins/language_xml.lua
Labels: Category: Lua Core, Category: Plugins

#743 multiple improvements to logging
  data/core/command.lua
  data/core/commands/log.lua
  data/core/init.lua
  data/core/logview.lua
  data/core/style.lua
  data/plugins/contextmenu.lua
Labels: Category: Lua Core, Category: Plugins

#808 Fix commenting selections.
  data/core/commands/doc.lua
Labels: Category: Lua Core

#815 fix invalid memory access
  src/api/process.c
Labels: Category: C Core

#805 use lua fallback earlier when fallbacks are forced
  meson.build
Labels: Category: Build System

#809 Merge master 2.0
  changelog.md
  data/core/commands/core.lua
  data/core/commands/doc.lua
  data/core/doc/init.lua
  data/core/init.lua
  data/core/nagview.lua
  data/plugins/treeview.lua
  lib/dmon/dmon.h
  lib/dmon/dmon_extra.h
  meson.build
  src/api/system.c
Labels: Category: Build System, Category: Lua Core, Category: Plugins, Category: C Core, Category: Libraries

#816 Fixing up Process API
  src/api/process.c
Labels: Category: C Core
