Repository lite-xl/lite-xl, pull requests merged in 2022-02, with the labels that each got.

#829 Use SDL to manage color format mapping in `ren_draw_rect`
  src/renderer.c
Labels: Category: C Core

#821 Improvements on core.add_thread function
  data/core/common.lua
  data/core/config.lua
  data/core/init.lua
Labels: Category: Lua Core

#833 Implemented system.get_process_id()
  src/api/system.c
Labels: Category: C Core

#836 Ignore empty lines in `line_comment`
  data/core/commands/doc.lua
Labels: Category: Lua Core

#839 Fix cases of nil node.
  data/core/commands/root.lua
  data/core/rootview.lua
Labels: Category: Lua Core

#832 Update autocomplete with changes needed for latest LSP plugin.
  data/core/config.lua
  data/plugins/autocomplete.lua
Labels: Category: Lua Core, Category: Plugins

#828 Changed signalling so it'll target the whole process group.
  src/api/process.c
Labels: Category: C Core

#822 Travel by contextMenu using keyboard
  data/core/contextmenu.lua
  data/plugins/contextmenu.lua
Labels: Category: Lua Core, Category: Plugins

#845 Add `View:on_file_dropped`
  data/core/init.lua
  data/core/rootview.lua
  data/core/view.lua
Labels: Category: Lua Core

#843 Fixed rendering computations for y offset.
  data/core/docview.lua
  src/renderer.c
Labels: Category: Lua Core, Category: C Core

#853 Process API read correction
  src/api/process.c
Labels: Category: C Core

#852 Improvements to the StatusView
  data/core/statusview.lua
Labels: Category: Lua Core
