Repository lite-xl/lite-xl, pull requests merged in 2022-07, with the labels that each got.

#1066 language_python: add syntax support for the match-case statement
  data/plugins/language_python.lua
Labels: Category: Plugins

#1059 Don't indent empty lines in a selection
  data/core/doc/init.lua
Labels: Category: Lua Core

#1060 On `doc:newline` remove line content if it contains only whitespace
  data/core/commands/doc.lua
Labels: Category: Lua Core

#1062 Fix opening `LogView` when reloading customizations
  data/core/init.lua
Labels: Category: Lua Core

#1064 `language_md`: Limit inline math mode to the current line
  data/plugins/language_md.lua
Labels: Category: Plugins

#1065 Increase `config.max_log_items`, add a scrollbar and optimize `LogView`
  data/core/config.lua
  data/core/logview.lua
Labels: Category: Lua Core

#1072 Start dirmonitor check thread only after a watch is added
  src/api/dirmonitor.c
Labels: Category: C Core

#1075 Make `StatusView:add_item` accept a table
  changelog.md
  data/core/statusview.lua
Labels: Category: Lua Core

#1074 `language_python`: Add new patterns
  data/plugins/language_python.lua
Labels: Category: Plugins

#1070 Make `Doc:get_selection[s]` return if the selection was actually sorted
  data/core/doc/init.lua
Labels: Category: Lua Core

#1079 Add font style options in user module
  data/core/init.lua
Labels: Category: Lua Core

#1080 CommandView: do not change caret size with config.line_height
  data/core/commandview.lua
Labels: Category: Lua Core

#1078 Fix "hard" indent column info on status view.
  data/core/statusview.lua
Labels: Category: Lua Core
