Repository lite-xl/lite-xl, pull requests merged in 2022-04, with the labels that each got.

#910 Fix keeping scroll position when restoring a `DocView`
  data/plugins/workspace.lua
Labels: Category: Plugins

#912 Changed font calculation to use ascender, which should work better.
  src/renderer.c
Labels: Category: C Core

#913 Add syntax symbols for auto-complete
  data/plugins/autocomplete.lua
Labels: Category: Plugins

#916 Enhance scrollbar
  data/core/docview.lua
  data/core/style.lua
  data/core/view.lua
Labels: Category: Lua Core

#826 Cleanup
  meson.build
  src/api/dirmonitor.c
  src/api/process.c
  src/api/renderer.c
  src/api/system.c
  src/rencache.c
  src/rencache.h
  src/renderer.c
  src/renderer.h
  src/renwindow.c
Labels: Category: Build System, Category: C Core

#884 Update SDL to 2.0.20
  meson.build
  subprojects/sdl2.wrap
Labels: Category: Build System

#937 Set the correct working directory for the AppImage version
  data/core/start.lua
Labels: Category: Lua Core

#935 Improve performance of `ren_draw_rect`
  src/renderer.c
Labels: Category: C Core

#930 Asynchronous Reads for Dirmonitor
  data/core/dirwatch.lua
  data/core/init.lua
  src/api/dirmonitor.c
  src/api/dirmonitor/dummy.c
  src/api/dirmonitor/inotify.c
  src/api/dirmonitor/kqueue.c
  src/api/dirmonitor/win32.c
  src/meson.build
Labels: Category: Build System, Category: Lua Core, Category: C Core

#941 Add animation categories to enable finer transitions control
  data/core/commandview.lua
  data/core/config.lua
  data/core/contextmenu.lua
  data/core/logview.lua
  data/core/nagview.lua
  data/core/node.lua
  data/core/rootview.lua
  data/core/statusview.lua
  data/core/view.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

#945 Add utf8 support to tokenizer
  data/core/start.lua
  data/core/tokenizer.lua
  data/core/utf8string.lua
  docs/api/string.lua
  docs/api/utf8.lua
  src/api/api.c
  src/api/utf8.c
  src/meson.build
  src/unidata.h
Labels: Category: Lua Core, Category: C Core, Category: Documentation

#948 Allow functions in `keymap`
  data/core/keymap.lua
Labels: Category: Lua Core

#940 Don't animate scrolling when dragging the scroll bar
  data/core/config.lua
  data/core/view.lua
Labels: Category: Lua Core

#898 TreeView Changes
  data/core/init.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

#928 Send `mouseleft` event when the mouse leaves the window
  data/core/init.lua
  data/core/node.lua
  data/core/rootview.lua
  data/core/view.lua
  src/api/system.c
Labels: Category: Lua Core, Category: C Core

#963 Add typeahead to `CommandView`
  data/core/commandview.lua
Labels: Category: Lua Core
