Repository lite-xl/lite-xl, pull requests merged in 2022-11, with the labels that each got.

#1123 Improvements to multicursor copy/paste
  data/core/commands/doc.lua
  data/core/doc/init.lua
Labels: Category: Lua Core

#1174 Add more options to `Scrollbar`
  data/core/config.lua
  data/core/docview.lua
  data/core/scrollbar.lua
  data/core/view.lua
Labels: Category: Lua Core

#1169 docview: support gutter click selection, fixes #1116
  data/core/docview.lua
Labels: Category: Lua Core

#1181 Getting ready for 2.1.
  changelog.md
  resources/linux/org.lite_xl.lite_xl.appdata.xml
  resources/lite_xl_plugin_api.h
  scripts/generate_header.sh
  src/api/process.c
  src/api/system.c
  subprojects/sdl2.wrap
Labels: Category: Build System, Category: Resources, Category: C Core

#1184 Add `config.keep_newline_whitespace` option
  data/core/commands/doc.lua
  data/core/config.lua
Labels: Category: Lua Core

#1186 tokenizer: remove the limit of 3 subsyntaxes depth
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1180 dirmonitor: give kevent a timeout so it doesn't lock forever
  src/api/dirmonitor/kqueue.c
Labels: Category: Build System, Category: C Core, hacktoberfest-accepted

#881 highlighter: autostop co-routine when not needed
  data/core/doc/highlighter.lua
Labels: Category: Lua Core

#1190 Make linewrapping plugin recompute breaks before scrolling
  data/plugins/linewrapping.lua
Labels: Category: Plugins

#1198 Add missing `get_exe_filename()` implementation for FreeBSD
  src/main.c
Labels: Category: C Core

#1202 Use subsyntax info to toggle comments
  data/core/commands/doc.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1203 Pass the currently selected item to `CommandView` validation
  data/core/commandview.lua
Labels: Category: Lua Core

#1199 MSVC Support
  .github/workflows/build.yml
  resources/windows/001-lua-unicode.diff
  src/api/dirmonitor.c
  src/api/dirmonitor/win32.c
  src/api/system.c
  src/main.c
  src/rencache.c
Labels: Category: Resources, Category: C Core, Category: CI

#1201 Load fonts with UTF-8 filenames
  src/renderer.c
  src/utfconv.h
Labels: Category: C Core

#1205 Windows font loading hotfix
  src/renderer.c
Labels: Category: C Core

#1210 update documentation for system
  docs/api/system.lua
Labels: Category: Documentation

#1211 better error messages for checkcolor
  src/api/renderer.c
Labels: Category: C Core
