Repository lite-xl/lite-xl, pull requests merged in 2023-03, with the labels that each got.

#1400 Use correct view for scrolling to `find-replace:repeat-find` results
  data/core/commands/findreplace.lua
Labels: Category: Lua Core

#1405 Add manifest on Windows
  .gitignore
  meson.build
  resources/windows/lite-xl.exe.manifest.in
  resources/windows/manifest.rc
  src/meson.build
Labels: Category: Build System, Category: Resources, Category: C Core, Category: Meta

#1407 Split `Command` struct into different structs for each command type
  src/rencache.c
Labels: Category: C Core

#1413 Move SetProcessDPIAware to manifests
  resources/windows/lite-xl.exe.manifest.in
  src/main.c
Labels: Category: Resources, Category: C Core

#1408 Improve text width calculation precision
  src/api/renderer.c
  src/rencache.c
  src/rencache.h
  src/renderer.c
  src/renderer.h
Labels: Category: C Core

#1411 Make `TreeView` follow the current tab
  data/plugins/treeview.lua
Labels: Category: Plugins

#1429 Aggregate `SDL_Surface`s and their scale in `RenSurface`
  src/rencache.c
  src/renderer.c
  src/renderer.h
  src/renwindow.c
  src/renwindow.h
Labels: Category: C Core

#1412 Asynchronous process reaping
  src/api/process.c
  src/main.c
Labels: Category: C Core

#1409 Don't calculate widths per-uft8-char when not needed
  data/core/docview.lua
Labels: Category: Lua Core

#1381 Made coroutines make more sense, and fixed a bug.
  data/core/init.lua
Labels: Category: Lua Core

#1446 Fixed bug where commands would show even when plugin was disbled.
  data/core/command.lua
  data/core/commands/drawwhitespace.lua
  data/core/config.lua
  data/core/init.lua
  data/plugins/drawwhitespace.lua
  data/plugins/trimwhitespace.lua
Labels: Category: Lua Core, Category: Plugins
