Repository lite-xl/lite-xl, pull requests merged in 2023-01, with the labels that each got.

#1297 Allow command buffer to be expanded
  src/rencache.c
  src/renderer.c
Labels: Category: C Core

#1303 Do not allow users to create an empty font group
  src/api/renderer.c
Labels: Category: C Core

#1296 Make api_require's nodes const
  src/api/system.c
Labels: Category: C Core

#1305 Fix a memory leak
  src/renderer.c
Labels: Category: C Core

#1306 Don't set a value twice
  src/api/utf8.c
Labels: Category: C Core

#1300 Make `dirwatch` sorting compatible with what `file_bisect` expects
  data/core/dirwatch.lua
Labels: Category: Lua Core

#1292 Handle readlink errors
  src/main.c
Labels: Category: C Core

#1309 `linewrapping`: Disable horizontal scrolling when enabled
  data/plugins/linewrapping.lua
Labels: Category: Plugins

#1313 plugin api: added missing luaL_typeerror
  resources/lite_xl_plugin_api.h
Labels: Category: Resources

#1310 defer lua error until after cleanup
  src/api/process.c
Labels: Category: C Core

#1311 fix: center title and version in emptyview
  data/core/emptyview.lua
Labels: Category: Lua Core

#1244 Reorganize resources/ + wasm target
  resources/README.md
  resources/cross/macos_arm64.txt
  resources/cross/wasm.txt
Labels: Category: Resources

#1319 replace uses of SDL_Window with RenWindow
  src/api/system.c
  src/main.c
  src/renderer.c
Labels: Category: C Core

#1315 Create Renderer Only When It Doesn't Exists
  src/renwindow.c
Labels: Category: C Core

#1323 language_md: add nix code block highlighting
  data/plugins/language_md.lua
Labels: Category: Plugins

#1324 Use `table.move` to implement `common.splice`
  data/core/common.lua
Labels: Category: Lua Core, Category: Plugins

#1325 Make empty groups in `regex.gmatch` return their offset
  src/api/regex.c
Labels: Category: C Core

#1290 remove static libgcc from meson
  meson.build
Labels: Category: Build System

#1298 Avoid drawing hidden text in `DocView:draw_line_text`
  data/core/docview.lua
  src/rencache.c
Labels: Category: Lua Core, Category: C Core

#1336 Added in Config Postload
  data/core/init.lua
Labels: Category: Lua Core

#1335 plugin api: allow usage on multiple source files
  resources/lite_xl_plugin_api.h
Labels: Category: Resources

#1321 pass RenWindow by argument
  src/api/renderer.c
  src/api/system.c
  src/main.c
  src/rencache.c
  src/rencache.h
  src/renderer.c
  src/renderer.h
Labels: Category: C Core

#1345 Getting rid of annoying forward slash on windows.
  data/core/init.lua
Labels: Category: Lua Core

#1312 feat: add option to only draw whitespace if it is within selection
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins

#1331 Replace globally when replacing from selection
  data/core/commands/findreplace.lua
Labels: Category: Lua Core

#1338 Context menu fixes and keyboard navigation
  data/plugins/contextmenu.lua
  data/plugins/treeview.lua
Labels: Category: Plugins

#1363 fix: exec() error not returned to parent
  src/api/process.c
Labels: Category: C Core
