Repository lite-xl/lite-xl, pull requests merged in 2023-10, with the labels that each got.

#1641 fix: dim rendering when antialiasing is turned off
  src/renderer.c
Labels: Category: C Core

#1598 Mark unsaved named files as dirty
  data/core/doc/init.lua
Labels: Category: Lua Core

#1640 Improve `common.serialize`
  data/core/common.lua
Labels: Category: Lua Core

#1573 Ignore keypresses during IME composition
  data/core/init.lua
  data/core/keymap.lua
Labels: Category: Lua Core

#1597 Save in the `workspace` unsaved named files
  data/plugins/workspace.lua
Labels: Category: Plugins

#1648 ci: fix diff files having "wrong" path separator
  .github/workflows/build.yml
  resources/windows/001-lua-unicode.diff
Labels: Category: Resources, Category: CI

#1646 Set SDL hint to prefer software render driver
  src/main.c
Labels: Category: C Core

#1647 fix: deadlock if error handler jumps somewhere else
  data/core/dirwatch.lua
  docs/api/dirmonitor.lua
  src/api/dirmonitor.c
Labels: Category: Lua Core, Category: C Core, Category: Documentation

#1651 Sanitize tab index in `Node:add_view`
  data/core/node.lua
Labels: Category: Lua Core

#1658 ease transparency of nagbar dim
  data/core/nagview.lua
Labels: Category: Lua Core
