Repository lite-xl/lite-xl, pull requests merged in 2023-05, with the labels that each got.

#1157 Allowed for font overrides of toolbar items
  data/plugins/toolbarview.lua
Labels: Category: Plugins

#1500 detectindent: fix wrong detection reported by Adam
  data/plugins/detectindent.lua
Labels: Category: Plugins

#1511 Move lineguide below blinking cursor, fixes #1488
  data/plugins/lineguide.lua
Labels: Category: Plugins

#1487 Close lua state when exiting on a runtime error
  src/main.c
Labels: Category: C Core

#1501 Add mouse grab
  data/core/commands/root.lua
  data/core/init.lua
  data/core/node.lua
  data/core/rootview.lua
  data/core/statusview.lua
  data/core/titleview.lua
  data/plugins/toolbarview.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins
