Repository lite-xl/lite-xl, pull requests merged in 2023-08, with the labels that each got.

#1570 Fixed things for when a thread requests a redraw.
  data/core/init.lua
Labels: Category: Lua Core

#1560 feat(src/renderer): unify fontgroup baseline
  src/renderer.c
Labels: Category: C Core

#1334 Normalize stroke before adding keybind
  data/core/keymap.lua
Labels: Category: Lua Core

#1467 Use proper timeouts for coroutines that don't need to wait
  data/core/doc/highlighter.lua
  data/plugins/projectsearch.lua
Labels: Category: Lua Core, Category: Plugins

#1177 Make `DocView` aware of scrollbars sizes
  data/core/docview.lua
Labels: Category: Lua Core

#1571 ci(release): use lite-xl org
  .github/workflows/release.yml
Labels: Category: CI

#1585 fix(core): defer core:open-log until everything is loaded
  data/core/init.lua
Labels: Category: Lua Core

#1587 Fix `scrollbar` misinterpreting `percent`
  data/core/scrollbar.lua
  data/core/view.lua
Labels: Category: Lua Core

#1567 Documentation for core.contextmenu
  data/core/contextmenu.lua
Labels: Category: Lua Core

#1481 Use Lua wrap by default
  meson.build
  meson_options.txt
Labels: Category: Build System

#1572 Normalize strokes in fixed order
  data/core/keymap.lua
  data/core/modkeys-generic.lua
  data/core/modkeys-macos.lua
Labels: Category: Lua Core

#1590 Adds super as a modkey.
  data/core/modkeys-generic.lua
Labels: Category: Lua Core

#1519 Autocomplete plugin improvements
  data/plugins/autocomplete.lua
Labels: Category: Plugins

#1579 feat(statusview): make a separate item for doc position percent
  data/core/statusview.lua
Labels: Category: Lua Core

#1512 docs(core.config): add documentation for config options
  data/core/config.lua
Labels: Category: Lua Core
