Repository lite-xl/lite-xl, pull requests merged in 2023-04, with the labels that each got.

#1444 Allow `tokenizer` to pause and resume in the middle of a line
  data/core/doc/highlighter.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1389 Added in explicit touchscreen keyboard support.
  data/core/commandview.lua
  data/core/docview.lua
  data/core/init.lua
  data/core/view.lua
  src/api/system.c
  src/main.c
Labels: Category: Lua Core, Category: C Core

#1393 fix cursors positions when deleting multiple selections
  data/core/commands/doc.lua
  data/core/doc/init.lua
Labels: Category: Lua Core

#1394 add autocompletion to multicursor
  data/plugins/autocomplete.lua
Labels: Category: Plugins

#1395 Added in support for foreground and background events.
  data/core/init.lua
  src/api/system.c
Labels: Category: Lua Core, Category: C Core

#1396 Fix invalid EXEFILE and EXEDIR on Windows
  src/main.c
Labels: Category: C Core

#1397 Fix os.getenv() not supporting UTF-8 output
  resources/windows/001-lua-unicode.diff
Labels: Category: Resources

#1402 Add View dragging
  data/core/init.lua
  data/core/node.lua
  data/core/rootview.lua
  data/core/view.lua
Labels: Category: Lua Core

#1404 fix: fix differing stacktrace on stdout and file
  src/main.c
Labels: Category: C Core

#1434 fix(CI): bump dependency versions
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: Category: Resources, Category: CI

#1435 Optimizing MSYS2 CI
  .github/workflows/build.yml
  scripts/build.sh
Labels: Category: CI

#1437 Update api_require to expose more symbols
  src/api/system.c
Labels: Category: C Core

#1457 Make `system.path_compare` more case-aware
  src/api/system.c
Labels: Category: C Core

#1463 #1393 followup
  data/core/commands/doc.lua
  data/core/doc/init.lua
Labels: Category: Lua Core

#1445 feat: add statusview item to show selections
  data/core/statusview.lua
Labels: Category: Lua Core

#1465 Fix for api_require wrong macro && conditions
  src/api/system.c
Labels: Category: C Core

#1436 upgrade header files to Lua 5.4
  resources/include/lite_xl_plugin_api.h
  resources/lite_xl_plugin_api.h
Labels: Category: Resources

#1461 Show error message in crash message box
  src/main.c
Labels: Category: C Core

#1440 Move the header into include/
  resources/README.md
  resources/include/lite_xl_plugin_api.h
Labels: Category: Resources

#1462 Merge carets after `doc:move-to-{previous,next}-char`
  data/core/commands/doc.lua
Labels: Category: Lua Core

#1460 Build releases with Ubuntu 18.04 container
  .github/workflows/release.yml
  scripts/appimage.sh
Labels: Category: CI

#1370 Process API improvements (again)
  src/api/process.c
Labels: Category: C Core

#1474 Make `system.path_compare` more digit-aware
  src/api/system.c
Labels: Category: C Core

#1475 fix(process): check for HANDLE_INVALID
  src/api/process.c
Labels: Category: C Core

#1478 Added in double-clicking on emptyview and tab bar.
  data/core/commands/root.lua
  data/core/keymap.lua
  data/core/node.lua
  data/core/rootview.lua
Labels: Category: Lua Core

#494 Restore horizontal scroll position after scale change
  data/plugins/scale.lua
Labels: Category: Plugins
