Repository lite-xl/lite-xl, pull requests merged in 2023-11, with the labels that each got.

#1664 Make dmgs with dmgbuild
  .github/workflows/build.yml
  .github/workflows/release.yml
  .gitignore
  build-packages.sh
  resources/README.md
  resources/macos/dmg-cover.png
  resources/macos/lite-xl-dmg.py
  scripts/README.md
  scripts/appdmg.sh
  scripts/install-dependencies.sh
  scripts/package.sh
Labels: Category: Resources, Category: Meta, Category: CI

#1595 Avoid considering single spaces in `detectindent`
  data/plugins/detectindent.lua
Labels: Category: Plugins

#1670 Fix deleting indentation with multiple cursors
  data/core/commands/doc.lua
Labels: Category: Lua Core

#1657 Fixed issue with set_target_size passing the wrong value to plugins
  data/core/rootview.lua
Labels: Category: Lua Core

#1667 Fix running `core.step` when receiving an event while not waiting
  data/core/init.lua
  docs/api/system.lua
Labels: Category: Lua Core, Category: Documentation

#1577 feat(subprojects): update wraps
  .github/workflows/build.yml
  meson.build
  resources/include/lite_xl_plugin_api.h
  subprojects/freetype2.wrap
  subprojects/lua.wrap
  subprojects/pcre2.wrap
  subprojects/sdl2.wrap
Labels: Category: Build System, Category: Resources, Category: CI

#1630 Scale mouse coordinates by window scale
  src/api/system.c
  src/renderer.c
  src/renwindow.c
  src/renwindow.h
Labels: Category: C Core

#1601 Fix `core.redraw` when window is not focused
  data/core/init.lua
Labels: Category: Lua Core

#1608 Fix selecting newlines with `find-replace:select-add-{next,all}`
  data/core/commands/findreplace.lua
  data/core/doc/search.lua
Labels: Category: Lua Core

#1574 Fix editing after undo not clearing the change id
  data/core/doc/init.lua
Labels: Category: Lua Core

#1581 Fix `language_js` regex constant detection
  data/plugins/language_js.lua
Labels: Category: Plugins

#1645 Fix patterns starting with `^` in `tokenizer`
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1495 Text overwriting
  data/core/commands/doc.lua
  data/core/doc/init.lua
  data/core/docview.lua
  data/core/keymap.lua
  data/core/statusview.lua
Labels: Category: Build System, Category: Resources, Category: Lua Core, Category: Plugins, Category: C Core, Category: Documentation, Category: Meta, Category: CI

#1674 Reverted cursor API to something more compatible with old API.
  data/core/docview.lua
Labels: Category: Lua Core

#1618 Use x offset to define render command rect in `rencache_draw_text`
  src/api/renderer.c
  src/rencache.c
  src/renderer.c
  src/renderer.h
Labels: Category: C Core

#1614 Improve font/color change detection in `language_md`
  data/plugins/language_md.lua
Labels: Category: Plugins

#1675 Revert "feat(subprojects): update wraps"
  .github/workflows/build.yml
  meson.build
  resources/include/lite_xl_plugin_api.h
  subprojects/freetype2.wrap
  subprojects/lua.wrap
  subprojects/pcre2.wrap
  subprojects/sdl2.wrap
Labels: Category: Build System, Category: Resources, Category: CI

#1477 feat(process): allow commands and envs on proces_start
  src/api/process.c
Labels: Category: C Core

#1596 Use `\r\n` for new files on Windows
  data/core/config.lua
  data/core/doc/init.lua
Labels: Category: Lua Core

#1652 Expose plaintext syntax
  data/core/syntax.lua
Labels: Category: Lua Core
