Repository lite-xl/lite-xl, pull requests merged in 2023-02, with the labels that each got.

#1036 Make mod-version follow semver
  data/core/init.lua
  data/core/start.lua
Labels: Category: Lua Core

#1356 Improved plugins config table handling
  data/core/config.lua
Labels: Category: Lua Core

#1368 Restore in-selection replace as discussed in #1331
  data/core/commands/findreplace.lua
Labels: Category: Lua Core

#1379 NagView: properly rescale on scale change
  data/core/commands/doc.lua
  data/core/init.lua
  data/core/nagview.lua
  data/plugins/autoreload.lua
  data/plugins/treeview.lua
Labels: Category: Lua Core, Category: Plugins

#1380 plugins scale: also rescale style.expanded_scrollbar_size
  data/plugins/scale.lua
Labels: Category: Plugins

#1382 Improve `DocView:get_visible_line_range` precision
  data/core/docview.lua
Labels: Category: Lua Core

#1317 Allow groups to be used in end delimiter patterns in tokenizer
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1314 Make mouse scrollwheel hovering tabs scroll the tab bar
  data/core/rootview.lua
Labels: Category: Lua Core

#1385 Fixed up some post 5.1/jit Symbols
  resources/lite_xl_plugin_api.h
Labels: Category: Resources

#1383 fix incorrect x_offset if opened docs have different tab sizes
  data/core/docview.lua
Labels: Category: Lua Core

#1388 Added in ability to specify prefix via env variable.
  data/core/start.lua
  src/main.c
Labels: Category: Lua Core, Category: C Core
