Repository lite-xl/lite-xl, pull requests merged in 2023-07, with the labels that each got.

#1542 Allow setting custom glyphset size
  src/renderer.c
Labels: Category: C Core

#1554 style(src/renderer): use FreeType header names
  src/renderer.c
Labels: Category: C Core

#1555 feat(src/renderer): stream fonts with SDL_RWops on all platforms
  src/renderer.c
Labels: Category: C Core

#1563 Updated native extension for mac.
  data/core/start.lua
Labels: Category: Lua Core

#1510 Documentation for core.common
  data/core/common.lua
Labels: Category: Lua Core

#1566 docs(system): fix missing parameter for system.path_compare
  docs/api/system.lua
Labels: Category: Documentation

#1564 Documentation for core.command
  data/core/command.lua
Labels: Category: Lua Core
