Repository lite-xl/lite-xl, pull requests merged in 2023-06, with the labels that each got.

#1187 Change AppID
  README.md
  meson.build
  resources/README.md
  resources/linux/com.lite_xl.LiteXL.appdata.xml
  resources/linux/com.lite_xl.LiteXL.desktop
  scripts/appimage.sh
Labels: Category: Build System, Category: Resources

#1469 Make `Doc:sanitize_position` return a more appropriate `col`
  data/core/doc/init.lua
Labels: Category: Lua Core

#761 Show cursor at the start of the next line when selecting full lines
  data/core/commands/doc.lua
  data/core/docview.lua
Labels: Category: Lua Core

#1479 Add top tab margins
  data/core/node.lua
  data/core/style.lua
Labels: Category: Lua Core

#1472 Attach command buffer to Renderer Window
  src/api/renderer.c
  src/rencache.c
  src/rencache.h
  src/renderer.c
  src/renwindow.c
  src/renwindow.h
Labels: Category: C Core

#1541 comment typo in object.lua
  data/core/object.lua
Labels: Category: Lua Core

#1546 Fix #1538 log scrolls automatically (the real PR)
  data/core/logview.lua
Labels: Category: Lua Core
