Repository lite-xl/lite-xl, pull requests merged in 2024-09, with the labels that each got.

#1617 Configurable statusview icon
  data/core/config.lua
  data/core/statusview.lua
  data/fonts/icons.ttf
  scripts/fontello-config.json
Labels: Category: Lua Core, Category: Fonts

#1877 Use lite-xl-build-box-manylinux
  .github/workflows/release.yml
Labels: Category: CI

#1878 Removed draw asserts for window renderer
  src/api/renderer.c
  src/rencache.c
Labels: Category: C Core

#1729 Add primary selection support
  data/core/commands/doc.lua
  data/core/keymap.lua
  docs/api/system.lua
  src/api/system.c
Labels: Category: Lua Core, Category: C Core, Category: Documentation
