Repository lite-xl/lite-xl, pull requests merged in 2024-02, with the labels that each got.

#1719 process: fix unitialized variables
  src/api/process.c
Labels: Category: C Core

#1660 wasm cross file improvements
  resources/cross/unknown-wasm32.txt
Labels: Category: Resources

#1728 Add `.pyi` extension to python.
  data/plugins/language_python.lua
Labels: Category: Plugins
