Repository lite-xl/lite-xl, pull requests merged in 2024-11, with the labels that each got.

#1927 Update PCRE2 wrap
  subprojects/pcre2.wrap
Labels: Category: Build System

#1935 Update FreeType2 wrap
  subprojects/freetype2.wrap
Labels: Category: Build System

#1940 Update lua wrap
  subprojects/lua.wrap
Labels: Category: Build System

#1939 use meson datadir as lite_datadir base
  meson.build
Labels: Category: Build System

#1938 convert unix style paths literals into meson path segments
  meson.build
  src/meson.build
Labels: Category: Build System, Category: C Core

#1950 Remove install-dependencies.sh
  .github/workflows/build.yml
  README.md
  scripts/install-dependencies.sh
Labels: Category: CI

#1923 generate metainfo release tag using git tags
  meson.build
  resources/linux/com.lite_xl.LiteXL.metainfo.xml.in
Labels: Category: Build System, Category: Resources, Category: CI
