Repository lite-xl/lite-xl, pull requests merged in 2024-04, with the labels that each got.

#1767 Add Arduino syntax highlighting support alongside C++.
  data/plugins/language_cpp.lua
Labels: Category: Plugins

#1722 Fix BufferSize in g_read for Windows
  src/api/process.c
Labels: Category: C Core

#1743 Skip patterns matching nothing in `tokenizer`
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1770 ci: fix missing permission for creating releases
  .github/workflows/release.yml
Labels: Category: CI

#1772 Release v2.1.4
  .github/workflows/release.yml
  changelog.md
  meson.build
  resources/linux/com.lite_xl.LiteXL.appdata.xml
Labels: Category: Build System, Category: Resources, Category: CI
