Repository lite-xl/lite-xl, pull requests merged in 2024-10, with the labels that each got.

#1880 Added in keyboard shortcut tooltips for ToolbarView.
  data/plugins/toolbarview.lua
Labels: Category: Plugins

#1895 treeview: remove unused code
  data/plugins/treeview.lua
Labels: Category: Plugins

#1891 Implement logic for tracking active window
  src/api/renderer.c
  src/renderer.c
  src/renderer.h
Labels: Category: C Core

#1649 Streamlined and simplified CI, and made it use lpm to install addons.
  .github/workflows/build.yml
  .github/workflows/release.yml
  build-packages.sh
  resources/cross/darwin-aarch64.txt
  resources/windows/001-lua-unicode.diff
  scripts/README.md
  scripts/appdmg.sh
  scripts/build.sh
  scripts/common.sh
  scripts/innosetup/innosetup.iss.in
  scripts/install-dependencies.sh
  scripts/make-universal-binaries.sh
  scripts/package-appimage.sh
  scripts/package-dmg.sh
  scripts/package-innosetup.sh
  scripts/package.sh
  scripts/repackage.sh
  scripts/run-local
Labels: Category: Resources, Category: CI

#1653 Allow writing to hidden files on Windows
  data/core/doc/init.lua
  docs/api/system.lua
  src/api/system.c
Labels: Category: Lua Core, Category: C Core, Category: Documentation

#1634 Add support for relative `require`s
  data/core/doc/init.lua
  data/core/start.lua
Labels: Category: Lua Core

#1740 Fix multi-type usage in delimited patterns
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1586 Add `inclusive` parameter to `Doc:get_text`
  data/core/doc/init.lua
Labels: Category: Lua Core

#1589 Add `minimum_thumb_size` and `{contracted,expanded}_scrollbar_margin` to `Scrollbar`
  data/core/scrollbar.lua
  data/core/style.lua
Labels: Category: Lua Core

#1908 vendor lua wrap, include unicode patch
  .github/workflows/build.yml
  meson.build
  resources/README.md
  scripts/build.sh
  subprojects/lua.wrap
  subprojects/packagefiles/lua/lua-unicode.diff
Labels: Category: Build System, Category: Resources, Category: CI

#1921 Format renderer font scale code to be actually readable
  src/renderer.c
Labels: Category: C Core
