Repository lite-xl/lite-xl, pull requests merged in 2024-06, with the labels that each got.

#1800 Change co_wait to co_await in language_cpp
  data/plugins/language_cpp.lua
Labels: Category: Plugins

#1794 fix: avoid iterating over a changing table in `run_threads`
  data/core/init.lua
Labels: Category: Lua Core

#1801 ci: fix typo in release note template
  resources/release-notes.md
Labels: Category: Resources

#1724 Update action dependencies
  .github/workflows/auto_labeler_pr.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: Category: CI

#1804 ci: use latest macos images
  .github/workflows/build.yml
  .github/workflows/release.yml
  meson.build
  scripts/make-universal-binaries.sh
  scripts/package.sh
Labels: Category: Build System, Category: CI

#1815 Update macOS copyright notice
  meson.build
  resources/macos/Info.plist.in
Labels: Category: Build System, Category: Resources

#1812 subprojects: update lua,pcre2,sdl2
  meson.build
  subprojects/lua.wrap
  subprojects/pcre2.wrap
  subprojects/sdl2.wrap
Labels: Category: Build System

#1814 ci: dependabot updates
  .github/dependabot.yml
Labels: Category: Meta

#1816 New macOS Installer background
  resources/README.md
  resources/macos/background.png
  resources/macos/background.tiff
  resources/macos/background@2x.png
  resources/macos/dmg-cover.png
  resources/macos/lite-xl-dmg.py
Labels: Category: Resources

#1752 improve number highlighting for c
  data/plugins/language_c.lua
Labels: Category: Plugins

#1818 language_cpp: backport number highlighting from c
  data/plugins/language_cpp.lua
Labels: Category: Plugins

#1819 Add support for binary integer literals.
  data/plugins/language_cpp.lua
Labels: Category: Plugins

#1723 Update language_python.lua
  data/plugins/language_python.lua
Labels: Category: Plugins

#1650 Update font scale on monitor scale change for `RENDERER` backend (macOS)
  src/api/renderer.c
  src/renderer.c
  src/renderer.h
  src/renwindow.c
Labels: Category: C Core

#1822 macos: support drag-and-drop and default file associations
  data/core/init.lua
  data/core/rootview.lua
  resources/macos/Info.plist.in
Labels: Category: Resources, Category: Lua Core

#1806 Handle static constexpr in language_cpp
  data/plugins/language_cpp.lua
Labels: Category: Plugins

#1751 move window creation and management to Lua
  data/core/docview.lua
  data/core/emptyview.lua
  data/core/init.lua
  data/core/nagview.lua
  docs/api/renderer.lua
  docs/api/renwindow.lua
  docs/api/system.lua
  src/api/api.c
  src/api/api.h
  src/api/renderer.c
  src/api/renwindow.c
  src/api/system.c
  src/main.c
  src/meson.build
  src/rencache.c
  src/renderer.c
  src/renderer.h
Labels: Category: Lua Core, Category: Plugins, Category: C Core, Category: Documentation

#1824 fix(dirmonitor): avoid calling the change callback multiple times in the same notification
  src/api/dirmonitor.c
Labels: Category: C Core

#1823 fix(autoreload): wait a second before automatically reloading a file
  data/plugins/autoreload.lua
Labels: Category: Plugins

#1828 core/rootview: fix dnd multiple folders into dock
  data/core/rootview.lua
Labels: Category: Lua Core

#1833 fix(doc): convert `Doc:merge_cursors` parameter from "selection index" to table index
  data/core/doc/init.lua
Labels: Category: Lua Core

#1831 Fix window memory allocation bug.
  src/renderer.c
Labels: Category: C Core

#1834 core/doc: fix wrong table index in Doc:merge_cursors
  data/core/doc/init.lua
Labels: Category: Lua Core

#1827 refactor(mac): adapt `LITE_USE_SDL_RENDERER` scaling to new windowing system
  src/api/renderer.c
  src/renderer.c
  src/renderer.h
Labels: Category: C Core

#1840 Release v2.1.5
  .github/workflows/release.yml
  changelog.md
  meson.build
  resources/linux/com.lite_xl.LiteXL.appdata.xml
Labels: Category: Build System, Category: Resources, Category: CI

#1836 (fix): passed missing core.window to set_window_mode call
  data/core/commands/core.lua
  data/core/titleview.lua
Labels: Category: Lua Core
