Repository lite-xl/lite-xl, pull requests merged in 2024-07, with the labels that each got.

#1848 language_cpp: add cuda syntax highlighting
  data/plugins/language_cpp.lua
Labels: Category: Plugins

#1850 src/renwindow: correctly free texture and renderer
  src/renwindow.c
Labels: Category: C Core

#1852 api/system: check if a window is created when firing DND events
  src/api/system.c
Labels: Category: C Core

#1844 macos: Add proper platform-specific icon
  resources/icons/icon.icns
  resources/macos/dmg-icon.icns
  resources/macos/lite-xl-dmg.py
Labels: Category: Resources

#1845 renderer: rewrite glyph cache
  src/renderer.c
Labels: Category: C Core

#1862 fix: avoid following symlinks in `common.rm`
  data/core/common.lua
Labels: Category: Lua Core
