Repository lite-xl/lite-xl, pull requests merged in 2024-01, with the labels that each got.

#1695 v2.1.2
  .github/workflows/release.yml
  changelog.md
  meson.build
  resources/linux/com.lite_xl.LiteXL.appdata.xml
Labels: Category: Build System, Category: Resources, Category: CI

#1697 Fix doc:create-cursor-previous/next-line with tabs
  data/core/commands/doc.lua
Labels: Category: Lua Core

#1705 Memory fixes
  src/api/process.c
  src/renderer.c
Labels: Category: C Core

#1704 Improve number highlighting for python syntax highlighting
  data/plugins/language_python.lua
Labels: Category: Plugins

#1696 reorder nagview options on doc:save error
  data/core/commands/doc.lua
Labels: Category: Lua Core

#1698 Fix autoreload crash / error
  data/plugins/autoreload.lua
Labels: Category: Plugins

#1710 language_js: support binary and octal representation
  data/plugins/language_js.lua
Labels: Category: Plugins

#1709 process: style changes
  src/api/process.c
Labels: Category: C Core

#1549 comment typo in data/core/init.lua
  data/core/dirwatch.lua
  data/core/init.lua
Labels: Category: Lua Core

#1706 add system.setenv
  docs/api/system.lua
  src/api/system.c
Labels: Category: C Core, Category: Documentation

#1712 v2.1.3
  .github/workflows/release.yml
  changelog.md
  meson.build
  resources/linux/com.lite_xl.LiteXL.appdata.xml
Labels: Category: Build System, Category: Resources, Category: CI
