Repository lite-xl/lite-xl, pull requests merged in 2024-03, with the labels that each got.

#1734 Improve `autocomplete` suggestions box behavior
  data/plugins/autocomplete.lua
Labels: Category: Plugins

#1732 Improve `CommandView` and `autocomplete` scroll behavior
  data/core/commandview.lua
  data/core/config.lua
  data/plugins/autocomplete.lua
Labels: Category: Lua Core, Category: Plugins

#1731 Fix `language_js` regex/comment distinction
  data/plugins/language_js.lua
Labels: Category: Plugins

#1745 Add SerenityOS platform support
  src/api/dirmonitor/inodewatcher.cpp
  src/main.c
  src/meson.build
Labels: Category: Build System, Category: C Core

#1754 `language_js` Add from symbol to support ESM
  data/plugins/language_js.lua
Labels: Category: Plugins

#1744 Limit `language_js` regex avoidance to numbers, and fix starting `/*` comments
  data/plugins/language_js.lua
Labels: Category: Plugins

#1755 Fixed some typos in core.init
  data/core/init.lua
Labels: Category: Lua Core
