Repository lite-xl/lite-xl, pull requests merged in 2024-12, with the labels that each got.

#1969 fix: scale font pixel size in `RENDERER` mode
  src/renderer.c
Labels: Category: C Core

#1875 allow `/` for path suggestions in all OSes
  data/core/common.lua
Labels: Category: Lua Core

#1898 New-File ending in slash creates new folder instead
  data/plugins/treeview.lua
Labels: Category: Plugins

#1904 check item type before creating input text
  data/plugins/treeview.lua
Labels: Category: Plugins

#1971 docview: prevent overscroll when DocView size is less than lh * 2
  data/core/docview.lua
Labels: Category: Lua Core

#1973 process: do not return nil until process exited
  src/api/process.c
Labels: Category: C Core

#1976 fix: only allow backslash as path separator in Windows in `common.path_suggest`
  data/core/common.lua
Labels: Category: Lua Core

#1977 ci: use tag name as artifact name
  .github/workflows/build.yml
Labels: Category: CI

#1975 Revert "New-File ending in slash creates new folder instead (#1898)"
  data/plugins/treeview.lua
Labels: Category: Plugins

#1864 api/system: make stat() call consistent across platforms
  docs/api/system.lua
  src/api/system.c
Labels: Category: C Core, Category: Documentation

#1981 process: call poll_process when getting returncode
  src/api/process.c
Labels: Category: C Core

#1984 Release: v2.1.6 and v2.1.7
  changelog.md
  meson.build
Labels: Category: Build System

#1945 feat: add support for tab stops
  data/core/docview.lua
  src/api/renderer.c
  src/rencache.c
  src/rencache.h
  src/renderer.c
  src/renderer.h
Labels: Category: Lua Core, Category: C Core
