Repository lite-xl/lite-xl, pull requests merged in 2025-03, with the labels that each got.

#1455 Project Rework
  data/core/bit.lua
  data/core/commands/core.lua
  data/core/commands/doc.lua
  data/core/common.lua
  data/core/config.lua
  data/core/dirwatch.lua
  data/core/doc/init.lua
  data/core/init.lua
  data/core/keymap-macos.lua
  data/core/keymap.lua
  data/core/project.lua
  data/core/start.lua
  data/core/statusview.lua
  data/plugins/autocomplete.lua
  data/plugins/autoreload.lua
  data/plugins/contextmenu.lua
  data/plugins/detectindent.lua
  data/plugins/drawwhitespace.lua
  data/plugins/findfile.lua
  data/plugins/language_c.lua
  data/plugins/language_cpp.lua
  data/plugins/language_css.lua
  data/plugins/language_html.lua
  data/plugins/language_js.lua
  data/plugins/language_lua.lua
  data/plugins/language_md.lua
  data/plugins/language_python.lua
  data/plugins/language_xml.lua
  data/plugins/lineguide.lua
  data/plugins/linewrapping.lua
  data/plugins/macro.lua
  data/plugins/projectsearch.lua
  data/plugins/quote.lua
  data/plugins/reflow.lua
  data/plugins/scale.lua
  data/plugins/tabularize.lua
  data/plugins/toolbarview.lua
  data/plugins/treeview.lua
  data/plugins/trimwhitespace.lua
  data/plugins/workspace.lua
  src/main.c
Labels: Category: Lua Core, Category: Plugins, Category: C Core

#1779 Better wasm support again
  resources/README.md
  resources/cross/unknown-wasm32.txt
  resources/shell.html
Labels: Category: Resources

#1856 renderer: defer bitmap rendering when possible
  src/renderer.c
Labels: Category: C Core

#1919 renderer: pass errors via SDL_SetError
  src/api/renderer.c
  src/main.c
  src/renderer.c
Labels: Category: C Core

#1937 move dependency resolving into src meson
  meson.build
  src/meson.build
Labels: Category: Build System, Category: C Core

#1946 fix: use current char to determine `col` in `DocView:get_x_offset_col`
  data/core/docview.lua
Labels: Category: Lua Core

#1983 ci: add postrelease workflow to update docs and release winget packages
  .github/workflows/postrelease.yml
Labels: Category: CI

#1992 common: allow / and \ as PATHSEP on Windows when fuzzy matching files
  data/core/common.lua
Labels: Category: Lua Core

#1999 fix: use correct charmap and glyphmap sizes
  src/renderer.c
Labels: Category: C Core

#2026 language_cpp: add back digit separators
  data/plugins/language_c.lua
  data/plugins/language_cpp.lua
Labels: Category: Plugins

#2029 syntax: warn against malformed patterns and disable them
  data/core/syntax.lua
  data/core/tokenizer.lua
Labels: Category: Lua Core

#1988 Update InnoSetup files
  .gitignore
  scripts/innosetup/innosetup.iss.in
  scripts/innosetup/lite-xl-banner@164x314.bmp
  scripts/innosetup/lite-xl-banner@192x386.bmp
  scripts/innosetup/lite-xl-banner@246x459.bmp
  scripts/innosetup/lite-xl-banner@273x556.bmp
  scripts/innosetup/lite-xl-banner@328x604.bmp
  scripts/innosetup/lite-xl@110x106.bmp
  scripts/innosetup/lite-xl@55x55.bmp
  scripts/innosetup/lite-xl@64x68.bmp
  scripts/innosetup/lite-xl@83x80.bmp
  scripts/innosetup/lite-xl@92x97.bmp
  scripts/innosetup/litexl-55px.bmp
  scripts/innosetup/wizard-modern-image.bmp
  scripts/package-innosetup.sh
Labels: Category: Meta

#1991 balance computed directory list, remove recursive function invocation
  data/core/project.lua
Labels: Category: Lua Core

#2051 Debug builds for CI again
  .github/workflows/build.yml
  scripts/build.sh
Labels: Category: CI
