Repository lite-xl/lite-xl, pull requests merged in 2025-05, with the labels that each got.

#2080 language_lua: add files with `rockspec` extenstion
  data/plugins/language_lua.lua
Labels: Category: Plugins

#2067 replace memory functions with SDL equivalent
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
  src/api/dirmonitor/inodewatcher.cpp
  src/api/dirmonitor/inotify.c
  src/api/dirmonitor/kqueue.c
  src/api/dirmonitor/win32.c
  src/api/process.c
  src/api/regex.c
  src/api/system.c
  src/main.c
  src/rencache.c
  src/renderer.c
  src/utfconv.h
Labels: Category: C Core

#2060 build.sh: build SDL3 with CMake
  .github/workflows/build.yml
  scripts/build.sh
Labels: Category: C Core, Category: CI

#2044 Dirmonitor Fix: IN_IGNORE.
  src/api/dirmonitor/inotify.c
Labels: Category: C Core, Category: CI

#2082 postrelease: ignore RC builds
  .github/workflows/postrelease.yml
Labels: Category: CI

#2083 language_lua: add files with `rockspec` extenstion
  data/plugins/language_lua.lua
Labels: Category: Plugins
