Repository lite-xl/lite-xl, pull requests merged in 2025-04, with the labels that each got.

#1756 SDL3 port
  .github/workflows/build.yml
  data/core/ime.lua
  data/core/init.lua
  data/core/titleview.lua
  docs/api/system.lua
  meson.build
  scripts/build.sh
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
  src/api/process.c
  src/api/renwindow.c
  src/api/system.c
  src/main.c
  src/meson.build
  src/rencache.c
  src/renderer.c
  src/renderer.h
  src/renwindow.c
  src/renwindow.h
  subprojects/sdl2.wrap
Labels: Category: Build System, Category: Lua Core, Category: C Core, Category: Documentation, Category: CI

#2059 fix: don't go down the directory tree in `system.list_dir`
  src/api/system.c
Labels: Category: C Core

#2042 Modified mod-version for `welcome`.
  data/meson.build
Labels: Category: CI

#2068 add SDL App Metadata
  meson.build
  src/main.c
Labels: Category: Build System, Category: C Core
